/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.policymaker-list-item--agenda-item {
  & > a, & > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @include breakpoint($breakpoint-l) {
      align-items: flex-start;
      flex-direction: row;

      .hel-icon {
        align-self: center;
        margin-left: auto;
        margin-right: $spacing-half;
      }
    }
  }


  .agenda-item__index-number {
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-half;
    margin-right: $spacing-double;
    white-space: nowrap;

    @include breakpoint($breakpoint-l) {
      margin-bottom: 0;
    }
  }

  .agenda-item__subject {
    margin-bottom: $spacing-and-half;
    margin-right: $spacing-double;

    @include breakpoint($breakpoint-l) {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;

    &:hover .agenda-item__subject {
        text-decoration: underline;
    }
  }

  .hel-icon {
    min-height: $spacing-and-half;
    min-width: $spacing-and-half;
  }

  &.policymaker-list-item {
    border-bottom-color: $color-black;
  }

  &.policymaker-list-item:first-child {
    border-top: 2px solid $color-black;
  }

  &.policymaker-list-item:last-child {
    border-bottom: 2px solid $color-black;
  }
}
