.page-title + .node--type-article {
  margin-top: $spacing-double;
}

.node--type-article {
  .content-author {
    @include font('small');
    color: $color-black-60;
  }

  .hds-tag--alert {
    margin-bottom: $spacing-double;
  }

  .keywords {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-half;
    margin-block: $spacing;
  }
}

.latest-articles__list {
  @include font('body');
  width: 100%;

  .sidebar_block_heading {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
