.node--type-imported-article {
 .article__body {
   margin-top: $spacing-quadruple;
 }

 p {
  @include font('body');
 }

 .preamble {
    p {
      @include font('lead');
    }
    &::after {
      background: $color-black;
      content: "";
      display: block;
      height: 2px;
      margin-bottom: $spacing-double;
      margin-top: $spacing-double;
      width: $spacing-quadruple;
    }
  }
}
