/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.issue-header__container {
  border-bottom: 2px solid $color-black-20;
  margin-bottom: 27.5px;

  @include breakpoint($breakpoint-xl) {
    margin-bottom: $spacing-double;
  }
}

.issue__title {
  @include font('h2');
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: $spacing-and-half;

  .issue__header & {
    margin-top: 0;
  }
}

.issue__diarynumber {
  @include font('small');
  margin-bottom: $spacing-double;

  label {
    display: block;
    font-weight: 600;
  }
}

.issue-header__footer {
  margin-bottom: $spacing-and-half;

  .issue__category {
    margin-bottom: $spacing-double;
  }

  @include breakpoint($breakpoint-xl) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .issue__category {
      margin-bottom: 0;
    }
  }
}

.issue__category {
  display: flex;
  gap: $spacing-half;
}

.issue__in_this_meeting {
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-double;
}

.issue__container {
  h3,
  h4 {
    margin-top: $spacing;

    &:first-child {
      margin-top: 0;
    }
  }

  .SisaltoSektio {
    margin-bottom: $spacing-double;
  }

  &.issue__container--navigation {
    margin-bottom: $spacing-double;
  }

  .voting-results-accordion {
    margin-bottom: -2px;
  }

  @include breakpoint($breakpoint-xl) {
    display: flex;
  }
}

.issue__left-column__container {
  @include breakpoint($breakpoint-xl) {
    padding-right: 125px;
    width: 65%;
  }
}

.issue-right-column__container {
  .issue__attachment {
    @include font('small');
    border-bottom: 1px solid $color-black-40;
    font-weight: 600;
    line-height: $spacing-and-half;
    padding: $spacing-and-half 0;
    vertical-align: top;

    & > a,
    & > div {
      display: flex;
    }

    div:first-child {
      margin-right: $gutter;
    }

    .hel-icon {
      height: var(--spacing-m);
      width: var(--spacing-m);
    }
  }

  @include breakpoint($breakpoint-xl) {
    width: 35%;
  }
}

.issue__attachment__reason {
  @include font('small');
}

.issue__attachment__info {
  font-weight: normal;
}

.issue-content__title h2 {
  @include font('h3');
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: $spacing-double;
  margin-top: $spacing;
}

.motion-tag.issue-content__motion-tag {
  margin-bottom: $spacing;
}

.issue-content__confidentiality-reason {
  display: block;
  margin-bottom: $spacing-and-half;
}

.issue-content__indices {
  @include font('lead');
  margin-bottom: $spacing;
}

.issue-content__policymaker-label {
  @include font('special.helper_text');
  display: inline-block;
  margin-bottom: $spacing-double;
  max-width: 100%;
  padding: 10px $spacing-triple;
  text-align: left;
  text-transform: uppercase;

  &.policymaker-label--small {
    @include font('special.helper_text');
    display: inline-block;
    padding: 10px 40px;
  }

  @include breakpoint($breakpoint-m) {
    display: inline-block;
    padding: 10px 55px;
  }
}

.issue-content__labels {
  display: flex;
  flex-direction: column;
  gap: $spacing;

  .hds-tag {
    width: fit-content;
  }
}

.issue-content__policymaker-label--with-icon {
  span {
    @include font('body');

    &:first-child {
      font-weight: $font-weight-bold;

      &::before {
        @include pseudo-icon('user');
        margin-right: $spacing-half;
      }
    }
  }
}

.issue__favorite-button button.hds-button {
  color: $color-black;
  padding-left: 0;

  .hds-button__label {
    padding: 0;
  }

  .hel-icon:first-of-type:not(:last-of-type) {
    margin-left: 0;
    margin-right: 13px;
  }
}

.issue-content-top__container {
  margin-bottom: $spacing-triple;
  margin-top: $spacing-triple;
}

.issue-content__section {
  margin-bottom: $spacing-double;

  p,
  ul {
    margin-top: 0;
    padding-top: 0;
  }

  @include breakpoint($breakpoint-xl) {
    @include font('lead');
  }
}

.issue__pdf {
  margin-bottom: $spacing-double;

  &.issue__pdf--desktop {
    display: none;
  }
}

.issue__decision-navigation {
  align-items: center;
  display: flex;
  height: 100%;
  margin-bottom: $spacing;
  margin-top: $spacing-half;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-double;
  }

  .decision-navigation-button--next span {
    flex-basis: 0;
    margin-left: auto;
    margin-right: 0;

    @include breakpoint($breakpoint-s) {
      flex-basis: auto;
    }
  }

  .decision-navigation-button--next .hel-icon {
    margin-left: 14px;
    margin-right: 0;
  }
}

.issue__meetings-labels label {
  font-weight: $font-weight-medium;
}

.issue__more-info__container {
  margin-top: $spacing-quadruple;
}

.issue__more-info {
  margin-bottom: $spacing-quadruple;

  // The heading should look like h2 even it is h3.
  // This is probably subject to change in the future
  // if the layout is reworked.
  h3 {
    @include font('h2');
    margin-bottom: $spacing-triple;
  }

  .contact-card {
    width: 100%;
  }
}

.issue-ajax-error__container {
  display: none;
}

.issue__decision-date {
  margin-bottom: $spacing-double;
}

.issue__container table {
  border: none;
}

// Styling from Ahjo API HTML content.
.issue-content__container {
  td,
  div {
    @include font('body');

    @include breakpoint($breakpoint-l) {
      @include font('lead');
    }
  }

  del {
    text-decoration: line-through;
  }

  ins {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  .SisaltoSektio {
    ul,
    ol {
      padding-left: $spacing;
      padding-top: 0;
    }

    table td {
      background-color: $color-black-5;
      display: block;

      div {
        margin: 0;
      }

      @include breakpoint($breakpoint-s) {
        display: table-cell;
      }
    }
  }
}

// Decision history adjustments.
h4.decision-history-title + h5.decision-history-title {
  margin-top: $spacing;
}

// Accordion style overrides for the voting section on issues.
.component--accordion--voting-result .accordion {
  .accordion__wrapper,
  .voting-result--no-votes {
    border: 1px solid $color-black;
    font-weight: 400;
    margin-block-start: $spacing;

    &:first-child {
      margin-block-start: 0;
    }
  }

  .accordion-item__header {
    border: none;
  }

  .accordion-item__button--toggle {
    padding: 0 $spacing 0 0;

    &[aria-expanded='true'] {
      border-block-end: 1px solid $color-black;
    }
  }

  .accordion-item__content__inner {
    padding: 0;
  }

  .accordion-item__button--close {
    margin-block-end: $spacing-half;
    margin-inline-end: $spacing-half;
  }
}

.voting-result__opinion {
  display: flex;
  margin: 0;
}

.voting-result__opinion__color,
.voting-result__opinion__key {
  @include font('body');
  padding: $spacing;
}

.voting-result__opinion__color {
  min-width: 54px;
  text-align: center;
}

.voting-result__opinion--ayes .voting-result__opinion__color {
  background-color: $color-copper;
}

.voting-result__opinion--noes .voting-result__opinion__color {
  background-color: $color-brick;
  color: $color-white;
}

.voting-result__opinion--blank .voting-result__opinion__color {
  background-color: $color-fog;
}

.voting-result__opinion--absent .voting-result__opinion__color {
  background-color: $color-silver-medium-light;
}

// List of people who voted for the specific opinion.
.voting-result__opinion__table {
  border-spacing: 0;
  width: 100%;

  .voting-result__opinion__table__header__row {
    background-color: $color-silver-medium-light;
    text-align: left;
  }

  .voting-result__opinion__table__header__cell,
  .voting-result__opinion__table__cell {
    @include font('small');
    padding: 16px;
    text-align: left;
    width: 50%;
  }
}

// Voting results ordered by political party.
.voting-results-by-party__table {
  border-spacing: 0;
  margin: $spacing-double 0;
  max-width: unset;
  width: 100%;

  thead,
  tbody {
    width: 100%;
  }

  .voting-results-by-party__table__header__row {
    background-color: $color-silver-medium-light;
  }

  .voting-results-by-party__table__row {
    background-color: $color-white;
  }

  .voting-results-by-party__table__header__cell,
  .voting-results-by-party__table__cell {
    max-width: 56px;
    min-width: 56px;
    padding: $spacing 6px;
    text-align: center;
    width: 56px;
  }

  .voting-results-by-party__table__header__cell {
    @include font('special.helper_text');
    background-color: $color-black;
    color: $color-white;
    font-weight: $font-weight-medium;

    &:first-of-type {
      @include font('small');
      font-weight: 600;
      padding-inline: $spacing;
      text-align: left;
      width: 100%;
    }
  }

  .voting-results-by-party__table__cell {
    @include font('small');
    background-color: $color-white;
    min-width: unset;

    &:first-of-type {
      padding-inline: $spacing;
      text-align: left;
    }
  }

  .voting-results-by-party__table__cell.voting-results-by-party__table__cell--kupari {
    background-color: $color-copper;
  }

  .voting-results-by-party__table__cell.voting-results-by-party__table__cell--tiili {
    background-color: $color-brick;
    color: $color-white;
  }

  .voting-results-by-party__table__cell.voting-results-by-party__table__cell--sumu {
    background-color: $color-fog;
  }

  .voting-results-by-party__table__cell.voting-results-by-party__table__cell--gray-light {
    background-color: $color-silver-medium-light;
  }
}

.issue__hidden-message {
  margin-bottom: $spacing-double;
}

.page-type--case,
.page-type--decision {
  .component.component--banner {
    margin-top: $spacing-triple;

    // Set max width for banner element on issue page to match left-container

    @include breakpoint($breakpoint-xl) {
      padding-right: 125px;
      width: 65%;
    }
  }
}

.motion-tag {
  display: block;
  margin: 0;
}

.info-label,
.warning-label {
  margin-bottom: $spacing-and-half;

  &.visible {
    visibility: visible;
  }

  @include breakpoint($breakpoint-l) {
    margin-bottom: 7px;
  }
}
