{#

#}
<div class="issue-dropdown">
  <div class="issue-ajax-error__container">
    {% set status_headings = {'error': 'Error loading decision'|trans} %}
    {%
      set message_list = {
        'error': ['Something went wrong loading decision. Try again.'|trans]
      }
    %}
    {% include '@hdbt/misc/status-messages.html.twig' with { status_headings: status_headings, message_list: message_list, size: 'large' } %}
  </div>

  {% include '@helfi_paatokset/components/decisions-dropdown.html.twig' with { selected: selectedDecision, options: all_decisions, show_warning: next_decision, warning_label: 'More recent handlings'|trans } %}

  {% if all_decisions_link %}
    <div class="issue-dropdown__show-more">
      <a href="{{ all_decisions_link }}" class="paatokset-button-link">
        <span>{{ 'Other decisions for the meeting'|t }}</span>
        <i class="hel-icon hel-icon hel-icon--arrow-right"></i>
      </a>
    </div>
  {% endif %}
</div>
