{#
  Template for case attachments

  Variable attachments should be passed.
#}
<div class="issue__attachments__wrapper">
{% if attachments %}
  <div class="issue__attachments">
    <h3>{{ 'Attachments'|trans }}</h3>
    <div class="issue__attachments-container">
      {% for attachment in attachments %}
        <div class="issue__attachment">
          <a
            href="{{ attachment.file_url }}"
            class="paatokset__link-plain"
            aria-label="Link opens a file"
          >
            <div>
              <i class="hel-icon hel-icon--download" aria-hidden="true" style="vertical-align: middle"></i>
            </div>
            <div>{{ attachment.title }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
</div>
