{#

#}
{% if decision_pdf is empty %}
  {% set decision_pdf = '#' %}
  {% set hide_decision_pdf = TRUE %}
{% endif %}
<div class="issue__pdf issue__pdf--desktop issue__right-column__container" {% if hide_decision_pdf %}style="display:none;"{% endif %}>
  <a href="{{ decision_pdf }}" class="hds-button hds-button--primary hdbt-icon hdbt-icon--download">
    {{ 'Download decision (pdf)'|t }}
  </a>
</div>

