//
// @file
//
// This file includes everything related to the page footer styling.
//
.footer {
  a:hover,
  a:focus {
    background: $color-white;
  }
}

.footer-top .menu {
  flex-direction: column;
}
