//
// @file
//
// This file includes everything related to the page footer styling.
//
.footer {
  a:not(.hds-button) {
    &:hover,
    &:focus {
      color: $color-white;
    }
  }
}

.footer-top .menu {
  flex-direction: column;
}
