//
// @file
//
// This file includes everything related to the page footer styling.
//
.page-footer {
  background-color: $color-black;
  color: $color-white;
  margin-top: $spacing-s;
  width: 100%;
}
