.language-switcher__wrapper {
  display: inline-flex;
  position: relative;
}

.language-switcher__button {
  @include font-size(16px);
  @include font-weight($bold);
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0 $spacing-4-xs;
  text-align: center;

  &:focus {
    outline: 2px solid $color-black;
  }

  &[aria-expanded="true"] {
    outline: 2px solid $color-black;
  }
}

.language-switcher__button-expand {
  display: flex;
  height: 24px;
  width: 24px;

  svg {
    fill: $color-black;
    height: 100%;
    width: 100%;
  }
}

.language-switcher__dropdown {
  background: $color-white;
  border: 2px solid $color-black;
  top: 100%;
  opacity: 1;
  position: absolute;
  right: -2px;
  z-index: 1000;

  &:not(.is-active) {
    display: none;
  }

  .language-links__link {
    @include font-size(16px);
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    line-height: 24px;
    min-width: 125px;
    padding: $spacing-xs $spacing-s;
    text-decoration: none;
    transition: none;
    white-space: nowrap;
    width: 100%;

    &.is-active {
      cursor: not-allowed;
    }

    &:focus,
    &:hover {
      background-color: $color-bus;
      color: $color-white;

      > svg {
        fill: $color-white;
      }
    }

    &:focus {
      outline: none;
    }

    > svg {
      margin-left: $spacing-s;
    }
  }
}

.language-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
