.navigation {
  &.contextual-region {
    position: static;
  }

  &.navigation--main--desktop {
    z-index: 100;

    @include breakpoint(max-width $container-width-l) {
      display: none;
      visibility: hidden;
    }
  }
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &.menu--main {
    @include breakpoint($container-width-l) {
      height: 100%;
    }
  }
}

.menu__item {
  .menu--main & {
    @include breakpoint($container-width-l) {
      align-items: center;
      display: inline-flex;
      height: 100%;
    }

    &:not(:first-of-type) {
      @include breakpoint($container-width-l) {
        margin-left: $spacing-l;
      }
    }

    &.is-active {
      position: relative;

      &:after {
        background-color: $color-black;
        bottom: -#{$spacing-s};
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }
}

.menu__link {
  display: inline-block;

  .menu--main & {
    @include breakpoint($container-width-l) {
      @include font-size(16px);
      text-decoration: none;
    }
  }
}

// Backporting megamenu back link to mobile menu.
.header-branding .cssmenu-menu {
  grid-template-areas: 'lang' 'back' 'nav' 'footer';
}
.mmenu__back {
  align-items: start;
  background-color: $color-white;
  border: 0;
  cursor: pointer;
  display: grid;
  gap: $spacing-half;
  grid-template-areas: 'icon label';
  grid-template-columns: 40px auto;
  grid-template-rows: auto;
  justify-items: center;
  margin-top: -5px; // Counter the focus ring padding below
  padding: 5px 12px; // Top and bottom paddings are for handling focus ring 3px width + 2px offset
  position: relative;
  width: 100%;
  text-decoration: none;

  .icon-wrapper {
    background: #f7f7f8;
    content: '';
    display: block;
    grid-area: icon;
    height: 40px;
    width: 40px;
  }

  .hel-icon--angle-right {
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    margin-left: 3px;
    margin-top: 3px;
  }

  &:hover,
  &:active {
    text-decoration: underline;

    &.hel-icon {
      transform: translateX(-4px);
    }
  }

  &:focus,
  &:active {
    outline: 3px solid $color-black;
    outline-offset: -3px;

    &::before {
      transform: translateX(-4px);
    }
  }
}

.mmenu__back-wrapper {
  color: $color-black;
  grid-area: label;
  justify-self: start;
  margin-top: 8px;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 10px;
}
