.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 48px;
  font-weight: bold;

  .Pagination__control {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .Pagination__item {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &.Pagination__item--current {
      background-color: #000;
      color: #fff;
      border-radius: 25px;
    }

    &.Pagination__item--separator {
      width: auto;
      height: auto;
    }
  }
}
