@import '../../../index.scss';

.SearchBarWrapper {
  flex: 1;

  label {
    font-weight: bold;
    display: inline-block;
  }

  input {
    @include input;
    line-height: $input-height;
  }
}

.SearchBarWrapper__label {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-3-xs);
  justify-content: space-between;
  margin-bottom: var(--spacing-3-xs);

  label {
    flex: 0 0 auto;
    margin-bottom: 0;
  }
}

.SearchBarWrapper__label__status {
  font-size: 14px;
}

.SearchBar__input {
  &:focus-within input {
    @include focus-outline;
  }
}
