.SubmitButton[type="submit"] {
  width: 100%;
  height: 56px;
  --background-color: #000;
  --background-color-hover: --color-gold;
  --background-color-focus: --color-gold;
  --color-hover: #000;
  --color-focus: #000;
  --border-color: #000;
}

.SubmitButton__desktop {
  max-width: 258px;
}

.SubmitButton__mobile {
  margin-bottom: 34.5px;
}