.page-title + .node--type-article {
  margin-top: $spacing-double;
}
.node--type-article {
  .content-author {
    color: #666;
    font-size: 1rem;
  }

  .warning-label {
    margin-bottom: $spacing-double;
  }

  .keywords {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-half;
    margin-block: $spacing;
  }
}

.latest-articles__list {
  font-size: $fontsize-body-l;
  width: 100%;

  .sidebar_block_heading {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
