.page-title + .node--type-article {
  margin-top: $spacing-double;
}
.node--type-article {
  .content-author {
    color: #666;
    font-size: 1rem;
  }

  .warning-label {
    margin-bottom: $spacing-double;
  }

  .keywords {
    display: flex;
    margin-bottom: $spacing-half;

    .hds-tag {
      margin: $spacing;
      margin-left: 0;
    }

    .hds-tag a {
      background: $color-black;
      border-radius: $spacing-and-half;
      color: $color-white;
      display: flex;
      font-size: 16px;
      padding: 6px $spacing;
      text-decoration: none;
      width: fit-content;
      --outline-gutter: 2px;
      --outline-width: 3px;
      --focus-outline-color: $color-black;
      border: 2px solid transparent;

      &:hover, &:active, &:focus {
        transition-duration: 85ms;
        transition-property: background-color,border-color,color;
        transition-timing-function: ease-out;
      }

      &:hover {
        background-color: transparent;
        border-color: $color-black;
        color: $color-black;
      }

      &:focus, &:active {
        outline: var(--outline-width) solid var(--focus-outline-color);
        outline-offset: var(--outline-gutter);
        outline-offset: 2px;
      }
    }
  }
}

.latest-articles__list {
  font-size: $fontsize-body-l;
  width: 100%;

  .sidebar_block_heading {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
