.meeting-video__video-container {
  height: 0;
  margin-bottom: $spacing;
  margin-top: $spacing;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    html {
      overflow: hidden;
      overflow-y: hidden;
    }
  }
}

.meeting-video p {
  @include font('small');
}