.page-title + .node--type-policymaker,
.page-title + .policymaker-text {
  margin-top: $spacing-double;
}
.node--type-policymaker,
.policymaker-no-content,
.minutes-container,
.policymaker-text {
  font-size: $fontsize-body-l;
}
.policymaker-text .announcement {
  padding-left: 0;
}
.node--type-policymaker > section.policymaker-summary {
  margin-bottom: $spacing-and-half;

  p {
    font-size: $fontsize-body-l;
  }

  .issue-content__policymaker-label {
    margin-bottom: 0;
  }

  .policymaker-summary__label {
    display: flex;
    margin-bottom: $spacing-double;
  }

  .issue__favorite-button {
    display: none;

    @include breakpoint($breakpoint-l) {
      display: inline-block;
      margin-left: $spacing;
    }
  }

  .announcement {
    h2 {
      font-size: 1.15rem;
      font-weight: $font-weight-bold;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    @include breakpoint($breakpoint-m) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.policymaker-tags {
  margin-bottom: $spacing-and-half;
  margin-top: $spacing-and-half;

  .issue-content__policymaker-label {
    margin-bottom: 0;
  }
}

.policymaker-organization {
  margin-bottom: $spacing-and-half;
  margin-top: $spacing-and-half;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-double;
  }

  .organizations {
    @include font(body);
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .hel-icon {
      --icon-size: 18px;
    }
  }

  &:after {
    border-bottom: 2px solid $color-black;
    content: "";
    display: block;
    margin-top: $spacing-and-half;
    width: 90px;
  }
}

.policymaker-image {
  margin-bottom: $spacing-triple;

  img {
    margin-bottom: $spacing-half;
    width: 100%;
  }

  figure {
    margin: 0;
  }
}

.policymaker-card__image,
.policymaker-image {
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.policymaker-meetings {
  .warning-label {
    margin-top: $spacing;
  }
}

.node--type-policymaker .table-of-contents__container {
  margin-bottom: $spacing-quadruple;
  position: relative;
}

.table-of-contents + .policymaker-image {
  padding-top: $spacing-triple;
}

.content-menu__arrow {
  display: none;

  &.hel-icon--arrow-up {
    transform: rotate(180deg);
  }

  @include breakpoint($breakpoint-xs) {
    color: $color-metro;
    display: block;
    height: 111px;
    position: absolute;
    right: 0;
    width: 90px;
  }
}

.node--type-policymaker > section {
  margin-bottom: $spacing-quadruple;
  margin-top: 0;

  .section-description {
    margin-bottom: $spacing-double;

    @include breakpoint($breakpoint-l) {
      margin-bottom: $spacing-triple;
    }
  }
}

.view-all .paatokset-button-link {
  margin-top: $spacing-double;

  span {
    margin-left: auto;
  }
}

.policymaker-list-item {
  border-bottom: 1px solid $color-black-20;
  display: block;
  padding:  $spacing-and-half 0;

  &:first-child {
    border-top: 1px solid $color-black-20;
  }

  &.policymaker-list-item--document,
  .policymaker-list-item--document {
    border-color: $color-black;
    display: block;
    text-decoration: none;

    .subject__date {
      display: block;
    }
  }

  .list-item__date {
    color: $color-black-50;
    font-size: $fontsize-body-m;
    margin-bottom: $spacing;
  }

  .list-item__date--desktop {
    display: inline;
  }

  .list-item__subject {
    font-size: 24px;
    font-weight: $font-weight-medium;

    a {
      text-decoration: none;
    }
  }

  .policymaker-list-item--document:hover .list-item__subject {
    text-decoration: underline;
  }
}

h1.minutes__header {
  @include font(h1);
  display: flex;
  flex-direction: column;
  gap: 0px;
  line-height: 3rem;
  margin-bottom: $spacing;
  margin-top: 0;

  @include breakpoint($breakpoint-l) {
    line-height: 4rem;
  }

  .minutes__header-prefix {
    font-size: 20px;
  }

  .minutes__header-suffix {
    color: $color-black-50;
    font-size: $fontsize-body-m;
  }
}

h2.minutes-list__header {
  font-size: 24px;
  font-weight: $font-weight-medium;

  margin-bottom: $spacing-and-half;
}

.minutes-list__wrapper {
  font-size: $fontsize-body-l;
  margin-bottom: $spacing-double;
}

.minutes-file__container {
  label {
    display: block;
    margin-bottom: $spacing-quarter;
  }

  .minutes__publish-date {

    margin-bottom: $spacing-double;
    padding-bottom: $spacing-and-half;
    position: relative;

    &:after {
      background: $color-black;
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 62px;
    }
  }

  .publish-date__date {
    font-size: $fontsize-heading-s;
    font-weight: $font-weight-bold;
  }
}

.minutes__file-link {
  margin-bottom: $spacing-half;
}

.policymaker-live-sream {
  .view-all--recordings {
    display: none;
  }
}

.policymaker-label__tags {
  margin-bottom: $spacing-double;

  .hds-tag {
    background: $color-black;
    border-radius: $spacing-and-half;
    color: $color-white;
    display: flex;
    font-size: 16px;
    margin-right: $spacing-three-quarters;
    padding: 6px $spacing;
    width: fit-content;
  }

  .hds-tag__container {
    display: flex;
  }

  &:after {
    border-bottom: 2px solid $color-black;
    content: "";
    display: block;
    margin-top: $spacing-and-half;
    width: 90px;
  }
}

.minutes-decision__container {
  margin-top: $spacing-quadruple;
}

.minutes-decision__meta {
  font-size: $fontsize-body-l;

  .Kokousaika {
    font-weight: $font-weight-bold;
  }
}

.minutes-decision__heading {
  font-size: $fontsize-heading-m;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-l) {
    font-size: $fontsize-heading-l;
  }
}
