.views--taxonomy-term {
  .policymaker-list-item {
    border-color: $color-black-20;
    border-top: 0;
  }

  .feed-icon {
    align-items: center;
    display: flex;
    margin-top: $spacing-quadruple;
    text-decoration: none;

    i {
      margin-right: $spacing-half;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  header {
    margin-top: $spacing-double;
  }
}
