.views--taxonomy-term {
  .policymaker-list-item {
    border-color: $color-black-20;
    border-top: 0;
  }

  .feed-icon {
    align-items: center;
    display: flex;
    margin-block-start: $spacing-double;

    &::before {
      @include pseudo-icon('rss', $spacing-and-half, $color-black);

      flex-shrink: 0;
      margin-inline-end: $spacing-half;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  header {
    margin-block-start: $spacing-double;

    div {
      @include font('lead');
    }
  }
}
