.tpr-unit--view-mode-contact-card {
  margin-bottom: $spacing-triple;

  .unit__title {
    border-bottom: 2px solid $color-black;

    h3 {
      font-size: 24px;
    }
  }

  .unit-info {
    border-bottom: 1px solid $color-black-20;
    display: flex;
    padding: $spacing-and-half 0;
  }

  label {
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-quarter;
  }

  .unit-info__icon {
    margin-right: $spacing;
  }

  a {
    display: block;
  }

  .paatokset-button-link {
    display: flex;
  }

  span.country {
    display: none;
  }
}