.page-type--trustee .page-title__container {
  max-width: unset;
}

.page-title + .node--type-trustee.node--view-mode-full {
  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }
  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }
}

.trustee-information {
  background-color: $color-fog-light;
  margin-bottom: $spacing-triple;
  padding: $spacing-and-half;

  .information-row {
    @include font('body');
    display: flex;
    flex-wrap: wrap;

    &:not(:last-of-type) {
      margin-bottom: $spacing;
    }

    &.information-row--pm-declaration a {
      margin-left: 0.4rem;
    }

    &.information-row--doa a {
      align-items: center;
      display: inline-flex;
    }
  }

  .label {
    font-weight: $font-weight-medium;
    margin-right: $spacing-half;
  }
}

.trustee-top-container {
  margin-bottom: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    padding: 0;
  }

  span {
    @include font('body');
    color: $color-black-50;

    &:first-of-type::after {
      content: '•';
      margin: 0 $spacing;
    }
  }
}

.trustee-image {
  margin-bottom: $spacing-and-half;

  img {
    height: auto;
    max-width: 100%;
  }
}
