{#
/*
 * Provides a template for decisions dictionary block.
*/
#}

{% if design_class is empty %}
  {% set design_class = 'component--banner-align-left' %}
{% endif %}
{% if banner_icon is not empty %}
  {% set has_icon = true %}
{% endif %}

{% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--banner',
        design_class,
        has_icon ? 'component--banner-has-icon'
      ],
      component_content_class: 'banner',
    }
%}

  {% block component_content %}

    <div class="banner__content-wrapper">
      <div class="banner__content">
        {% if banner_title %}
          <h2 class="banner__title">{{ banner_title }}</h2>
        {% endif %}
        {% if banner_desc %}
          <div class="banner__desc">{{ banner_desc|raw }}</div>
        {% endif %}

        {% if banner_link.url %}
          <p>
            <a href="{{ banner_link.url }}" rel="noopener" data-is-external="true" target="_blank" data-hds-component="button">
              {{ banner_link.label }}
            </a>
          </p>
        {% endif %}
      </div>

    </div>

  {% endblock component_content %}
{% endembed %}
