{%
  set classes = [
    'meetings-calendar',
    view_mode ? 'meetings-calendar--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% embed "@hdbt/misc/lead-in.twig" with { content: meeting_calendar_description } %}{% endembed %}
<div {{ attributes.addClass(classes) }}>
  <div id="meetings-calendar-vue"></div>
</div>
