{#
 * @file
 * Template for Committees and Boards listing block.
 *
 * Available variables:
 * - title: Block title.
 * - committees_and_boards: List of committees and boards to be listed.
 *
 * @see template_preprocess_block__committees_and_boards_listing()
#}
{% set committees_and_boards = [
  {
    title: 'Kasvatuksen ja koulutuksen toimiala',
    items: [
      {
        label: 'Kasvatus- ja koulutuslautakunta',
        url: 'https://www.example.com',
      },
      {
        label: 'Kasvatus- ja koulutuslautakunnan ruotsinkielinen jaosto',
        url: 'https://www.example.com',
      },
    ],
  },
  {
    title: 'Keskushallinto',
    items: [
      {
        label: 'Keskusvaalilautakunta',
        url: 'https://www.example.com',
      },
      {
        label: 'Keskushallinnon ruotsinkielinen jaosto',
        url: 'https://www.example.com',
      },
    ],
  }
]%}
<div {{attributes}}>
  {% for committee_or_board in committees_and_boards %}
    {% if committee_or_board.title %}
      <h2 class="committees-and-boards-listing__title">{{ committee_or_board.title }}</h2>
    {% endif %}
    {% if committee_or_board.items %}
      <ul class="committees-and-boards-listing__list">
        {% for item in committee_or_board.items %}
          <li class="committees-and-boards-listing__item">
            {{ link(item.label, item.url) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</div>