{%
  set classes = [
  'policymaker-listing',
  view_mode ? 'policymaker-listing--view-mode-' ~ view_mode|clean_class,
]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="container">
    <h2>{{ title }}</h2>
    {{ cards }}
    {{ accordions }}
  </div>
</div>
