.paatokset-button-link {
  color: $color-black;
  width: 100%;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  text-decoration: none;

  i, span {
    margin-right: $gutter - 2px;
  }

  .hel-icon {
    width: var(--spacing-m);
    height: var(--spacing-m);
  }

  &:hover {
    text-decoration: underline;
  }
}

.paatokset__link-plain {
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
