$color-sumu : #9fc9eb;
$color-hopea: #dedfe1;
$color-suomenlinna: #f5a3c7;
$color-engel: #ffe977;
$color-kupari: #00d7a7;

.issue-content__policymaker-label,
.policymaker-row__color,
.frontpage-calendar__item .color-line,
.policymaker-card__color-title  {
  &.color-sumu {
    background-color: $color-sumu;
  }

  &.color-hopea {
    background-color: $color-hopea;
  }

  &.color-suomenlinna {
    background-color: $color-suomenlinna;
  }

  &.color-engel {
    background-color: $color-engel
  }

  &.color-kupari {
    background-color: $color-kupari;
  }
}

.issue__meetings-dropdown {
  .color-sumu::before {
    border-left-color: $color-sumu;
  }

  .color-hopea::before {
    border-left-color: $color-hopea;
  }

  .color-suomenlinna::before {
    border-left-color: $color-suomenlinna;
  }

  .color-engel::before {
    border-left-color: $color-engel
  }

  .color-kupari::before {
    border-left-color: $color-kupari;
  }
}
