// @todo audit this file when searches get an update: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11962

@mixin input {
  border: 2px solid $color-black-50;
  border-radius: 2px;
  @include font('body');
  height: $input-height;

  &:focus, &:focus-within, &:hover {
    border-color: $color-black-90;
  }
}

@mixin focus-outline {
  border-color: $color-black;
  outline: 2px solid $color-black;
  outline-offset: 2px;
}