.paatokset--all-articles-block {
  .form-actions {
    width: 100%;
  }

  // When variant is not defined, we fallback to primary styles
  .form-actions [data-hds-component='button']:not([class*='hds-button']):where(:not([data-hds-variant]), [data-hds-variant='primary']),
  .form-actions .hds-button--primary {
    margin-top: $spacing;
    max-width: 280px; // Max-width for button from hds/designs.
    min-width: 44px; // Min-width for button from hds/designs.
    width: 100%;
  }

  .views-exposed-form {
    @include breakpoint($breakpoint-s) {
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      max-width: 280px; // Max-width for button from hds/designs.
      min-width: 44px; // Min-width for button from hds/designs.
    }

    .form-item {
      @include breakpoint($breakpoint-m) {
        width: 100%;
      }
    }
  }
}
