// Helsinki Kanava announcements block

.announcement.announcement--helsinki-kanava {
  h2 {
    font-weight: $font-weight-bold;
    font-size: 1.15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 18px;
  }

  .announcement__content {
    margin-left: 0;
    margin-right: auto;
  }

  .announcement__container {
    margin-left: 0;

    @include breakpoint($breakpoint-m) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// Negate padding on policymaker page
.policymaker-summary {
  .announcement.announcement--helsinki-kanava {
    padding-left: 0;
    padding-right: 0;
  }
}
