.decision-tree {
  margin-top: 72px;
}

.decision-tree__box {
  word-wrap: break-word;
  border: 2px solid #1a1a1a;
  font-size: 20px;
  font-weight: 500;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: 24px;
  position: relative;
  text-align: center;

  @include breakpoint($breakpoint-s) {
    font-size: 24px;
    padding: 28px;
  }

  &:not(&:last-of-type) {
    margin-bottom: 24px;

    &::after {
      background-color: white;
      border-bottom: 2px solid #1a1a1a;
      border-right: 2px solid #1a1a1a;
      bottom: -15.5px;
      content: '';
      height: 30px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      transform: rotate(45deg);
      width: 30px;
    }
  }
}

.decision-tree__upper-tree {
  display: flex;
  flex-direction: column;
  margin: 0 60px 72px 60px;
  position: relative;

  .decision-tree__arrow {
    position: absolute;
  }

  .arrow-left {
    height: 280px;
    left: -54px;
    top: 23px;
    width: 55px;
  }

  .arrow-right {
    bottom: 23px;
    height: 395px;
    right: -65px;
    width: 65px;
  }

  .decision-tree__box:nth-of-type(2),
  .decision-tree__box:nth-of-type(2)::after {
    background-color: $color-fog;
  }

  .decision-tree__box:nth-of-type(3),
  .decision-tree__box:nth-of-type(3)::after {
    background-color: $color-silver;
  }

  .decision-tree__box:nth-of-type(4),
  .decision-tree__box:nth-of-type(4)::after {
    background-color: $color-copper;
  }
}

.decision-tree__lower-tree {
  display: flex;
  flex-direction: column;
  margin: 0 60px 72px 60px;

  .decision-tree__box:nth-of-type(2),
  .decision-tree__box:nth-of-type(2)::after {
    background-color: $color-suomenlinna;
  }
}

.decision-tree__info-text {
  font-size: 36px;
  margin-bottom: 36px;
  text-align: center;
}
