.container.frontpage-calendar__container {
  margin-bottom: $spacing-quadruple;
  margin-top: $spacing-quadruple;
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-quadruple * 2;
    margin-top: $spacing-quadruple * 2;
  }
}

.frontpage-calendar {
  background-color: #f7f7f8;
  margin-top: 50px;
  position: relative;

  .hds-koros {
    left: 0;
    position: absolute;
    right: 0;
    top: -50px;
  }

  h2 {
    margin-bottom: 36px;
    padding: $spacing-quadruple*2 0 0 0;

    @include breakpoint($breakpoint-s) {
      margin-bottom: $spacing-triple;
    }
    @include breakpoint($breakpoint-m) {
      padding: 60px 0 0;
    }
  }

  .container {
    padding-bottom: 80px;
  }
}

.frontpage-calendar__link-container {
  display: flex;
  justify-content: right;
  padding: 0 $spacing;

  @include breakpoint($breakpoint-s) {
    padding: 0;
  }

  i {
    width: 36px;
  }

  a {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: $font-weight-medium;
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

.frontpage-calendar__item-container {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($breakpoint-s) {
    margin: 0 -12px 60px -12px;
  }
}

.frontpage-calendar__item {
  min-height: 282px;
  padding: 8px 0;
  text-decoration: none;
  width: 100%;

  &:hover {
    .motions-link {
      text-decoration: underline;
    }
  }

  @include breakpoint($breakpoint-m) {
    padding: 12px;
    width: 50%;
  }

  @include breakpoint($breakpoint-l) {
    width: 33.3%;
  }

  @include breakpoint($breakpoint-xl) {
    width: 25%;
  }

  .motions-link {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: $font-weight-medium;
    text-decoration: none;

    i {
      height: 18px;
      margin-right: 12px;
      width: 18px;
    }

    span {
      width: auto;
    }
  }

  .color-line {
    height: 8px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $spacing-and-half;
  }

  .meeting-date {
    font-size: $fontsize-body-l;
    margin-bottom: $gutter;
  }

  h3 {
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 0;

    @include breakpoint($breakpoint-s) {
      font-size: 1.5rem;
    }
  }
}

.frontpage-calendar__item-inner {
  background-color: white;
  height: 100%;
}

.frontpage-calendar__notice {
  margin-bottom: 24px;
  margin-top: -24px;
}
