.container.frontpage-calendar__container {
  margin-bottom: $spacing-quadruple;
  margin-top: $spacing-quadruple;
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-quadruple * 2;
    margin-top: $spacing-quadruple * 2;
  }
}

.frontpage-calendar {
  background-color: $color-silver-light;
  margin-top: 50px;
  position: relative;

  .hds-koros {
    left: 0;
    position: absolute;
    right: 0;
    top: -50px;
  }

  h2 {
    margin-bottom: $spacing-and-half;
    padding-top: $spacing-double;

    @include breakpoint($breakpoint-l) {
      padding-top: $spacing-triple;
    }
  }

  .container {
    padding-bottom: 80px;
  }
}

.frontpage-calendar__link-container {
  display: flex;
  justify-content: right;
  margin-top: $spacing;

  i {
    width: 36px;
  }

  a {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: $font-weight-medium;
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

.frontpage-calendar__item-container {
  display: grid;
  gap: $spacing-and-half;
  grid-template-columns: repeat(1, 1fr);

  @include breakpoint($breakpoint-m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint($breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Minimun height from the design
.frontpage-calendar__item {
  min-height: 282px;
  position: relative;
  width: 100%;

  .motions-link {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: $font-weight-medium;
    text-decoration: none;

    i {
      height: 18px;
      width: 18px;
    }

    span {
      width: auto;
    }

    &::after {
      content: "";
      inset: 0;
      position: absolute;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  .color-line {
    height: $spacing-half;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $spacing-and-half;
  }

  .meeting-date {
    font-size: $fontsize-body-l;
    margin-bottom: $gutter;
  }

  h3 {
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: $font-weight-medium;
    margin-top: 0;

    @include breakpoint($breakpoint-s) {
      font-size: 1.5rem;
    }
  }
}

.frontpage-calendar__item-inner {
  background-color: $color-white;
  height: 100%;
}

.frontpage-calendar__notice {
  margin-bottom: $spacing-and-half;

  p {
    margin: 0;
  }
}
