.meetings-calendar {
  margin-top: $spacing-triple;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-quadruple;
  }

  .hds-loading-spinner {
    left: unset;
    margin: 90px auto;
    position: relative;
    top: unset;
  }

  ol {
    list-style: none;
  }

  .calendar-header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-double;

    @include breakpoint($breakpoint-l) {
      margin-bottom: $spacing-triple;
    }

    h2 {
      font-size: 26px;
      margin: 0 15px;
      min-width: 190px;
      text-align: center;
      text-transform: capitalize;

      @include breakpoint($breakpoint-s) {
        font-size: 32px;
        margin: 0 30px;
        min-width: 235px;
      }
    }

    .hel-icon,
    .icon-container {
      cursor: pointer;
      height: 30px;
      min-width: 30px;
      width: 30px;
    }
    .icon-container--disabled {
      color: $color-silver-medium-light;
    }
  }

  .days-grid {
    display: grid;
    gap: 30px;
    padding-left: 0;

    @include breakpoint($breakpoint-l) {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
    }
  }

  .calendar-day {
    flex: 1;
    margin-top: 0;
    padding: 16px;
    position: relative;

    @include breakpoint($breakpoint-l) {
      margin-bottom: 60px;
      max-width: 20%;
      min-width: 20%;

      &::after {
        background-color: #c2a251;
        bottom: -32px;
        content: '';
        display: block;
        height: 8px;
        left: 0;
        margin: 0 16px;
        position: absolute;
        right: 0;
      }
    }

    .no-meetings {
      background-color: #f7f7f8;
      height: 100%;
      padding: 16px;

      @include breakpoint($breakpoint-l) {
        height: calc(100% - 40px);
      }
    }
  }

  .meeting-row {
    border-bottom: 1px dashed $color-black-60;
    font-size: 16px;
    padding: $spacing 0;

    a {
      align-items: center;
      display: flex;
    }

    .hel-icon {
      height: 16px;
      width: 16px;
    }
  }

  .meeting-title {
    font-size: 16px;
    font-weight: $font-weight-bold;
    line-height: 1.5;
    margin-bottom: $spacing-half;
    margin-top: 0;
  }

  .meeting-start-time {
    color: $color-black-60;
  }

  .meeting-row--cancelled {
    .meeting-title,
    .meeting-start-time {
      text-decoration: line-through;
    }
  }

  .date-header {
    border-bottom: 2px solid black;
    display: flex;
    font-size: 20px;
    font-weight: $font-weight-medium;
    justify-content: space-between;
    padding-bottom: $spacing-half;
    white-space: nowrap;
  }

  .calendar-day__today {
    .meeting-row {
      background-color: #f7f2e4;
      padding: $spacing;
    }

    .date-header {
      border-color: #c2a251;
      color: #c2a251;
    }
  }

  .calendar-day__no-meetings {
    .date-header {
      border-color: #666666;
      color: #666666;
    }
  }
}
