.paatokset__decision-tree-container {

  :not(.has-sidebar) & {
    margin-left: auto;
    margin-right: auto;
    max-width: 1264px;
  }

  .hidden {
    display: none;
  }

  .tabbed-list {
    border-bottom: 0;
  }

  .tabbed-list__content__inner {
    padding: 0;
  }

  .custom-select-wrapper {
    bottom: $spacing-half;
    position: absolute;
    right: 0;
  }

  .arrow i {
    height: $spacing;
    width: $spacing;
  }

  .custom-select {
    .custom-options {
      display: none;
    }

    &.open .custom-options {
      display: block;
    }
  }

  .decision-tree__title span {
    @include font('h3');
    display: block;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing;
    margin-top: $spacing-triple;
  }

  .decision-tree__title-container {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    max-width: 994px;
    width: 100%;
  }

  .decistion-tree__item.open div {
    padding-left: 14px;
  }
  button.tabbed-list__header__button {
    color: rgb(26, 26, 26);
    @include font('body');
    font-weight: bold;
    height: $spacing-and-half;
    line-height: $spacing-and-half;
    width: 289px;
  }

  .tabbed-list__content__inner {
    border-bottom: 1px solid black;
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .tabbed-list__content__inner input {
    background: none;
    border: none;
    color: rgb(6, 6, 6);
    cursor: pointer;
    @include font('lead');
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: none;
  }
  .menu	{
    margin-bottom: 0;
    overflow: auto;
    padding-left: 0;

    &:scroll {
      display: none;
    }

    .item {
      border-bottom: 6px solid transparent;
      color: $color-black;
      display: inline-block;
      @include font('lead');
      font-weight: bold;
      letter-spacing: 0.29px;
      margin-right: 22px;
      padding-bottom: 19px;
      text-decoration: none;

      &.hidden {
        display: none;
      }
    }
    .item.selected {
      border-bottom: 6px solid $color-black;
      padding-bottom: 19px;
    }
  }

  .container.tabbed-content__container {
    padding:0;
  }
}

.policymakers-documents, .policymakers-decisions {
  display: none;

  &.selected-year {
    display: block;
  }
}

.custom-select {
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  background-color: unset;
  border: none;
  color: $color-black;
  cursor: pointer;
  @include font('body');
  font-weight: $font-weight-medium;
  letter-spacing: 0;
  margin: 0;
  padding: 0 10px;
  padding-bottom: 23px;

  .arrow i {
    height: $spacing-and-half;
    width: $spacing-and-half;
  }
}

.custom-options {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 99;
}

.custom-select.open .custom-options {
  background-color: $color-white;
  border: 1px solid black;
  margin-top: 56px;
  opacity: 1;
  pointer-events: all;
  text-align: center;
  visibility: visible;
  width: 148px;
}

.custom-option {
  color: $color-black-80;
  cursor: pointer;
  @include font('lead');
  font-weight: 300;
  line-height: 60px;
  padding: 0 22px 0 22px;
  position: relative;
  transition: all 0.5s;
}

.custom-option:hover {
  background-color: $color-black-30;
  cursor: pointer;
}

.custom-option.selected {
  background-color: $color-coat-of-arms-dark;
  color: $color-white;
}

@media (max-width: $container-width-s) {
  .desktopTd {
    display:none;
  }
}

@media (min-width: $container-width-s) {
  .mobileTd {
    display:none;
  }
}

.paatokset_download-link-container .paatokset__link-plain {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 22px;

  span {
    margin-right: $spacing-three-quarters;
  }
}

.policymaker-no-content {
  margin-top: $spacing-and-half;
}
