.policymaker-contacts {
  width: 100%;

  h2 {
    @include breakpoint($breakpoint-l) {
      display: none;
    }
  }

  h3 {
    margin-bottom: $spacing-and-half;
  }

  label.unit__contact-row__label {
    font-weight: $font-weight-bold;
  }

  .hel-icon {
    --icon-size: 1.5rem;
  }

  font-size: 1.125rem;

  article h3 {
    margin-top: 0;
  }
}
