.policymaker-calendar {
  h2 {
    margin-bottom: $spacing-and-half;
  }
}

.policymaker-calendar__table {
  border: 0;
  border-collapse: collapse;
  display: table;
  max-width: unset;
  width: 100%;

  thead {
    background-color: $color-white;
  }

  th {
    text-align: left;
  }

  th,
  td {
    background-color: $color-white;
    color: $color-black;
    font-size: $fontsize-body-l;
    font-weight: $font-weight-regular;
    padding: $spacing-and-half 0;
    padding-right: $spacing-and-half;
  }

  @media (max-width: $breakpoint-s) {
    th:nth-of-type(2) {
      text-align: right;
    }
  }
}

.policymaker-calendar__table-header {
  th {
    font-weight: $font-weight-medium;
    padding-top: 0;
  }

  @media (max-width: $breakpoint-s) {
    border-bottom: 2px solid $color-black;

    th:last-of-type {
      display: none;
    }
  }
}

.policymaker-calendar__table-row {
  border-bottom: 1px solid $color-black-20;

  &:hover {
    background-color: transparent;
  }

  th:last-of-type {
    align-items: center;
    display: flex;
  }


  @media (max-width: $breakpoint-s) {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing 0;
    width: 100%;

    th {
      padding: $spacing-half;
    }

    td {
      border-bottom: none !important;
      padding: $spacing-half;

      &:first-of-type {
        font-weight: $font-weight-medium;
      }

      &:last-of-type a {
        align-items: center;
        color: $color-black;
        display: flex;
        white-space: nowrap;

        .hel-icon--angle-right {
          height: $spacing;
          width: $spacing;
        }
      }
    }

    th:nth-of-type(1),
    th:nth-of-type(2),
    td:nth-of-type(1),
    td:nth-of-type(2) {
      padding-right: 0;
      width: 50%;
    }

    td:nth-of-type(2) {
      text-align: right;
    }

    th:nth-of-type(3),
    th:nth-of-type(4),
    td:nth-of-type(3),
    td:nth-of-type(4) {
      width: 100%;
    }
  }
}

.policymaker-calendar__table-row--cancelled {
  td:nth-child(1), td:nth-child(2) {
    text-decoration: line-through;
  }
}
