.policymaker-listing {
  background-color: #f7f7f8;

  .container {
    padding-bottom: 65px;
    padding-top: 65px;
  }

  h2 {
    margin-bottom: 50px;
  }
}

.policymaker-card__container {
  margin-bottom: 72px;

  @include breakpoint($breakpoint-s) {
    display: flex;
  }

  .policymaker-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
    text-decoration: none;

    @include breakpoint($breakpoint-s) {
      padding-bottom: 0;
      width: 50%;

      &:first-of-type {
        padding-right: 8px;
      }

      &:last-of-type {
        padding-left: 8px;
      }
    }

    &:hover {
      .hel-icon {
        transform: translate(10px);
      }
    }
  }

  .policymaker-card__color-title {
    font-weight: $font-weight-medium;
    padding: 4px 0;
    text-align: center;
    text-transform: uppercase;
  }

  .policymaker-card__title-icon {
    background-color: $color-white;
    padding: 25px;

    h4 {
      margin-top: 0;
    }
  }

  .hel-icon {
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    transition: all 0.2s ease-in-out;
    width: 30px;
  }
}

.policymaker-row__link {
  align-items: center;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing;
  margin-top: $spacing;
  padding: $spacing-double;
  position: relative;
  text-decoration: none;

  &:hover {
    .hel-icon {
      transform: translate(10px);
    }
  }


  .hel-icon {
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    transition: all 0.2s ease-in-out;
    width: 10%;
  }

  .policymaker-row__color {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
  }

  .policymaker-row__title {
    word-wrap: break-word;
    font-size: 24px;
    hyphens: auto;
    overflow-wrap: break-word;
    padding-right: 16px;
    width: 90%;
  }

  .policymaker-row__sub-title {
    color: $color-black-50;
    font-size: 20px;
  }
}

.policymaker-listing .paatokset-accordion-item__content__inner {
  h4 {
    font-weight: $font-weight-medium;
    margin-bottom: $spacing;
    margin-top: $spacing;
  }

  .policymaker-row__link + h4 {
    margin-top: $spacing-quadruple;
  }
}

.hds-button.load-more-btn {
  display: none;
}
