.decisions-search-pagination {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
}

.decisions-search-pagination__control {
  background: transparent;
  border: none;
  cursor: pointer;
}

.decisions-search-pagination__item {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;

  &.decisions-search-pagination__item--current {
    background-color: #000;
    border-radius: 25px;
    color: #fff;
  }

  &.decisions-search-pagination__item--separator {
    height: auto;
    width: auto;
  }
}
