// @todo audit this file when searches get an update: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11962

.decisions-search-sort-select {
  margin-bottom: 48px;

  @media (min-width: 768px) {
    display: inline-block;
    margin-left: auto;
    width: 328px;
  }
}