//
// @file
// System messages
//
.system-messages {
  border: 2px solid;
  box-shadow: none;
  margin: 2rem 0;
  padding: 1.25rem;

  li {
    margin-top: 0.25rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &--error,
  &--status,
  &--warning,
  a {
    color: $color-white;
  }

  a {
    text-decoration: underline;
  }

  em {
    font-weight: $font-weight-medium;
    font-style: normal;
  }

  &--error {
    background: $error-light;
    border-color: $error-dark;

    a:hover,
    a:focus {
      color: $error-dark;
    }
  }

  &--status {
    background: $status-light;
    border-color: $status-dark;

    a:hover,
    a:focus {
      color: $status-dark;
    }
  }

  &--warning {
    background: $warning-light;
    border-color: $warning-dark;

    a:hover,
    a:focus {
      color: $warning-dark;
    }
  }
}
