.user-action {
  @include font-size(16px);
  align-items: center;
  display: inline-flex;
  line-height: $lineheight-s;
  text-decoration: none;
  text-transform: capitalize;

  > svg {
    margin-right: $spacing-3-xs;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
