.ResultCard {
  width: 100%;
  background: #fff;
}

.ResultCard__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 34px 30px 34px 40px;
  position: relative;
  color: #000;
  text-decoration: none;

  .titleContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  .departmentHighlight {
    display: inline-block;
    width: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  svg {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .ResultCard__title {
      text-decoration: underline;
    }

    svg {
     transform: translate(10px);
    }

    .ResultCard__sub-title {
      svg {
        transform: none;
      }
    }
  }

  .ResultCard__sub-title {
    svg {
      --icon-size: 18px;
      margin-top: 6px;
    }
  }
}

.ResultCard__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 2.25rem;
}

.ResultCard__sub-title {
  font-size: 1.25rem;
  color: #707070;
  line-height: 2.25rem;
}
