.ResultsContainer {
  position: relative;
  min-height: 250px;

  .stats__count--policymakers {
    width: 100%;
    margin-bottom: 22px;
  }

  .ResultsContainer__container {
    >div:first-child {
      width: 100%;
    }
  }

  @media (min-width: 1248px) {
    padding-top: 100px;
  }
}
