{#
/**
 * @file
 * Template for Allu decisions block.
 * 
 * @see template_preprocess_block()
 */
#}
<div class='allu-decisions-search-block'>
  {# React app hooks here #}
  <div id="allu-decisions-search"></div>
</div>
