{#
/**
 *
 * @file
 * Template for a single attachment
 */
#}

<div class="policymaker-list-item policymaker-list-item--agenda-item">
  {% if agenda_item.link %}
    <a href="{{ agenda_item.link }}">
  {% else %}
    <div>
  {% endif %}
    {% if agenda_item.index %}
      <span class="agenda-item__index-number">{{ agenda_item.index }}</span>
    {% endif %}
    <span class="agenda-item__subject">{{ agenda_item.subject }}</span>
  {% if agenda_item.link %}
    {% include '@hdbt/misc/icon.twig' with {icon: 'arrow-right'} %}
    </a>
  {% else %}
    </div>
  {% endif %}
</div>
