{#
/**
 * @file
 * Policymaker hierarchy
 *
 * Available variables:
 * - organizations: Organization hierarchy items.
 */
#}

{% if organizations %}
	<div aria-label="{{ 'Organization and sector'|t }}" class="policymaker-organization">
		<div class="organizations hds-tag__container">
			{% for item in organizations %}
				<span {{ current_langcode != item.langcode ? create_attribute(({ 'lang': item.langcode})) }}>
					{% if not loop.first %}
						{% include '@hdbt/misc/icon.twig' with {icon: 'angle-right'} %}
					{% endif %}
					{{ item.title|striptags }}
				</span>
			{% endfor %}
		</div>
	</div>
{% endif %}
