.issue-header__container {
  border-bottom: 2px solid $color-black-20;

  margin-bottom: 27.5px;

  @include breakpoint($breakpoint-xl) {
    margin-bottom: 32px;
  }
}

.issue__title {
  margin-bottom: $spacing-and-half;
  font-size: 32px;
  line-height: 1.1;
  font-weight: normal;

  @include breakpoint($breakpoint-l) {
    font-size: 52px;
  }
}

.issue__diarynumber {
  label {
    display: block;
    font-weight: 600;
  }

  font-size: 16px;
  margin-bottom: $spacing-double;
}

.issue-header__footer {
  margin-bottom: $spacing-and-half;

  .issue__category {
    margin-bottom: $spacing-double;
  }

  @include breakpoint($breakpoint-xl) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .issue__category {
      margin-bottom: 0;
    }
  }
}

.issue__category .hds-tag {
  border-radius: 24px;
  background: $color-black;
  color: $color-white;
  padding: 6px 16px;
  display: flex;
  width: fit-content;
}

.issue__container {
  h3 {
    font-size: $font-size-heading-3;

    @include breakpoint($breakpoint-xl) {
      font-size: $font-size-heading-2;
    }
  }

  h3, h4 {
    margin-top: $spacing;

    &:first-child {
      margin-top: 0;
    }
  }

  .SisaltoSektio {
    margin-bottom: $spacing-double;
  }

  &.issue__container--navigation {
    margin-bottom: $spacing-double;
  }

  .paatokset-accordion {
    margin-bottom: $spacing-double;
    border-bottom: 2px solid $color-black-20;

    .handorgel__header__button,
    .handorgel__content {
      background: transparent;
    }
  }

  .voting-results-accordion {
    margin-bottom: -2px;
  }

  @include breakpoint($breakpoint-xl) {
    display: flex;
  }
}

.issue__left-column__container {
  @include breakpoint($breakpoint-xl) {
    width: 65%;
    padding-right: 125px;
  }
}

.issue-right-column__container {
  .issue__attachment {
    a {
      display: flex;
    }

    div:first-child {
      margin-right: $gutter;
    }

    .hel-icon {
      width: var(--spacing-m);
      height: var(--spacing-m);
    }

    padding: 24px 0;
    border-bottom: 1px solid rgb(151, 151, 151);
    vertical-align: top;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
  }

  @include breakpoint($breakpoint-xl) {
    width: 35%;
  }
}

.issue-content__title h2 {
  margin-bottom: 32px;
  line-height: 1.1;
  font-weight: normal;
  font-size: 24px;

  @include breakpoint($breakpoint-l) {
    font-size: 36px;
  }
}

.issue-content__indices {
  font-size: $fontsize-body-xl;
  margin-bottom: 8px;
}

.issue-content__policymaker-label {
  margin-bottom: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: bold;

  &.policymaker-label--small {
    display: inline-block;
    padding: 10px 40px;
    font-size: 14px;
  }
}

.issue__favorite-button button.hds-button {
  color: $color-black;
  padding-left: 0;

  .hds-button__label {
    padding: 0;
  }

  .hel-icon:first-of-type:not(:last-of-type) {
    margin-left: 0;
    margin-right: 13px;
  }
}

.issue-content-top__container {
  margin-top: $spacing-triple;
  margin-bottom: $spacing-triple;
}

.issue-content__section {
  p, ul {
    margin-top: 0;
    padding-top: 0;
  }
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-xl) {
    font-size: $fontsize-body-xl;
  }
}

.issue__pdf {
  margin-bottom: $spacing-double;

  .hds-button {
    --background-color: var(--color-black);
    --background-color-hover: var(--color-bus);
    --background-color-focus: var(--color-bus);
    --background-color-hover-focus: var(--color-bus);
    --border-color: var(--color-black);
    --border-color-hover: var(--color-bus);
    --border-color-focus: var(--color-bus);
    --border-color-hover-focus: var(--color-bus);

    span {
      font-size: 16px;
    }
  }

  &.issue__pdf--desktop {
    display: none;
  }
}

.issue__decision-navigation {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: $spacing-half;
  margin-bottom: 45px;

  .decision-navigation-button--next span {
    margin-left: auto;
    margin-right: 0;
    flex-basis: 0;

    @include breakpoint($breakpoint-s) {
      flex-basis: auto;
    }
  }
  .decision-navigation-button--next .hel-icon {
    margin-right: 0;
    margin-left: 14px;
  }
}

.issue__meetings-labels label {
  font-weight: 500;
}

.issue-content__policymaker-label {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px $spacing-triple;
  display: inline-block;
  max-width: 100%;
  font-size: $fontsize-body-s;

  @include breakpoint($breakpoint-m) {
    display: inline-block;
    padding: 10px 55px;
  }
}

.issue-dropdown__show-more .paatokset-button-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.issue__more-info {
  margin-top: $spacing-4-xl;
  margin-bottom: $spacing-4-xl;

  div {
    margin: $spacing 0;
  }
}

.issue__more-info__content {
  padding-left: $spacing-and-half;
  border-left: 5px solid var(--hdbt-color-palette--primary);
}

.issue-ajax-error__container {
  display: none;
}

.issue__decision-date {
  margin-bottom: $spacing-double;
}

// Styling from Ahjo API HTML content.
.issue-content__container {
  td, div {
    @include font-size($fontsize-body-l);

    @include breakpoint($breakpoint-l) {
      @include font-size($fontsize-body-xl);
    }
  }

  .SisaltoSektio, .accordion-item__content__inner {
    ul, ol {
      padding-top: 0;
      padding-left: 1rem;
    }

    div {
      margin: $spacing 0;
    }

    table td {
      display: block;
      background-color: #f1f1f1;

      div {
        margin:0;
      }

      @include breakpoint($breakpoint-s) {
        display: table-cell;
      }
    }
  }
}

.voting-results-accordion {
  .color-kupari {
    background-color: #00D7A7 !important;
  }

  .color-tiili {
    background-color: #BD2719 !important;
    color: $color-white;
  }

  .color-sumu {
    background-color: #9FC9EB !important;
  }

  .color-gray-light {
    background-color: $gray-light !important;
  }

  .accordion-item__content__inner > h3 {
    font-size: 24px;
  }
}

.voting-results-accordion__inner {
  &:first-of-type {
    margin-top: 24px !important;
  }

  .accordion-item__header {
    .accordion-item__button {
      border: 1px solid $color-black;
      align-items: center;
      padding: 0;

      .result-key,
      .result-color {
        margin: 0;
        font-size: 18px;
        padding: 16px;
        line-height: 1.5;
      }

      .result-color {
        min-width: 54px;
        text-align: center;
      }

      .accordion-item__icon {
        margin: 0;
        padding-right: 16px;
      }
    }

    .result-type {
      display: flex;
      margin: 0;

      &.ayes .result-color {
        background-color: #00D7A7;
      }

      &.noes .result-color {
        background-color: #BD2719;
        color: $color-white;
      }

      &.blank .result-color {
        background-color: #9FC9EB;
      }

      &.absent .result-color {
        background-color: $gray-light;
      }
    }
  }

  .accordion-item__content {
    border: 1px solid black;
    margin-top: -1px !important;
  }

  .accordion-item__content__inner {
    margin: 0 !important;
  }

  .results-table {
    margin: 0;
    max-width: unset;

    thead,
    tbody {
      width: 100%;

      th,
      td {
        font-size: 16px;
      }
    }

    thead .results-table__row {
      background-color: $gray-light;

      th {
        color: $color-black;
      }
    }

    tbody .results-table__row {
      background-color: $color-white;

      td {
        background-color: $color-white;
        display: table-cell;
      }
    }

    .results-table__row th {
      width: 40%;
    }
  }

  .accordion-item__button--close {
    font-size: 16px;
  }
}

.results-by-party {
  margin-top: 64px !important;

  .results-table {
    max-width: unset;

    thead .results-table__row {
      th {
        min-width: unset;
        font-size: 16px;

        &:first-of-type {
          width: 100%;
          font-weight: 600;
        }

        &:not(:first-of-type) {
          min-width: 56px;
          width: 56px;
          max-width: 56px;
          font-size: 14px;
          padding: 6px;
          text-align: center;
        }
      }
    }

    tbody .results-table__row {
      td {
        background-color: $color-white;
        min-width: unset;
        font-size: 16px;
        display: table-cell;

        &:not(:first-of-type) {
          min-width: 56px;
          width: 56px;
          max-width: 56px;
          padding: 10px;
          text-align: center;
        }
      }
    }
  }
}


.page-type--case, .page-type--decision {
  .component.component--banner {
    margin-top: $spacing-triple;
  
    // Set max width for banner element on issue page to match left-container
  
    @include breakpoint($breakpoint-xl) {
      width: 65%;
    }
  }
} 
