.issue-header__container {
  border-bottom: 2px solid $color-black-20;

  margin-bottom: 27.5px;

  @include breakpoint($breakpoint-l) {
    margin-bottom: 32px;
  }
}

.issue__title {
  margin-bottom: $spacing-and-half;

  @include breakpoint($breakpoint-l) {
    font-size: 72px;
  }
}

.issue__diarynumber {
  label {
    display: block;
    font-weight: 600;
  }

  font-size: 16px;
  margin-bottom: $spacing-double;
}

.issue-header__footer {
  margin-bottom: $spacing-and-half;

  .issue__category {
    margin-bottom: $spacing-double;
  }

  @include breakpoint($breakpoint-l) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .issue__category {
      margin-bottom: 0;
    }
  }
}

.issue__category .hds-tag {
  border-radius: 24px;
  background: $color-black;
  color: $color-white;
  padding: 6px 16px;
}

.issue__container {
  h3 {
    font-size: $font-size-heading-3;

    @include breakpoint($breakpoint-l) {
      font-size: $font-size-heading-2;
    }
  }

  h3, h4 {
    margin-bottom: $spacing;
    margin-top: $spacing;

    &:first-child {
      margin-top: 0;
    }
  }

  .SisaltoSektio {
    margin-bottom: $spacing-double;
  }

  &.issue__container--navigation {
    margin-bottom: $spacing-double;
  }

  .paatokset-accordion {
    margin-bottom: $spacing-double;
    border-bottom: 2px solid $color-black-20;

    .handorgel__header__button,
    .handorgel__content {
      background: transparent;
    }
  }

  @include breakpoint($breakpoint-l) {
    display: flex;
  }
}

.issue__left-column__container {
  @include breakpoint($breakpoint-l) {
    width: 65%;
    padding-right: 125px;
  }
}

.issue-right-column__container {
  .issue__attachment {
    a {
      display: flex;
    }

    div:first-child {
      margin-right: $gutter;
    }

    .hel-icon {
      width: var(--spacing-m);
      height: var(--spacing-m);
    }

    padding: 24px 0;
    border-bottom: 1px solid rgb(151, 151, 151);
    vertical-align: top;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
  }

  @include breakpoint($breakpoint-l) {
    width: 35%;
  }
}

.issue-content__title h2 {
  margin-bottom: 32px;
  font-weight: normal;

  @include breakpoint($breakpoint-l) {
    font-size: $font-size-heading-1;
  }
}

.issue-content__indices {
  font-size: $fontsize-body-xl;
  margin-bottom: 8px;
}

.issue-content__policymaker-label {
  margin-bottom: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: bold;

  &.policymaker-label--small {
    display: inline-block;
    padding: 10px 40px;
    font-size: 14px;
  }
}

.issue__favorite-button button.hds-button {
  color: $color-black;
  padding-left: 0;

  .hds-button__label {
    padding: 0;
  }

  .hel-icon:first-of-type:not(:last-of-type) {
    margin-left: 0;
    margin-right: 13px;
  }
}

.issue-content-top__container {
  margin-top: $spacing-triple;
  margin-bottom: $spacing-triple;
}

.issue-content__section {
  p, ul {
    margin-top: 0;
    padding-top: 0;
  }
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-l) {
    font-size: $fontsize-body-xl;
  }
}

.issue__pdf {
  margin-bottom: 50px;

  button.hds-button {
    background-color: $color-black;
    border: none;

    span {
      font-size: 16px;
    }

    &:hover {
      background-color: var(--color-bus);
    }
  }

  &.issue__pdf--desktop {
    display: none;
  }

  @include breakpoint($breakpoint-l) {
    margin-bottom: 0;

    &.issue__pdf--desktop {
      display: block;
    }

    &.issue__pdf--mobile {
      display: none;
    }
  }
}

.issue__decision-navigation {
  height: 100%;
  display: flex;
  align-items: center;

  .decision-navigation-button--next span {
    margin-left: auto;
  }
}

.issue-content__policymaker-label {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px $spacing-triple;
  display: inline-block;
  max-width: 100%;
  font-size: $fontsize-body-s;

  @include breakpoint($breakpoint-m) {
    display: inline-block;
    padding: 10px 55px;
  }
}

.issue__more-info {
  margin-top: $spacing-4-xl;
  margin-bottom: $spacing-4-xl;
}

.issue__more-info__content {
  padding-left: $spacing-and-half;
  border-left: 5px solid var(--hdbt-color-palette--primary);
}

.issue-ajax-error__container {
  display: none;
}
