.page-type--policymaker {
  .page-title__container h1 {
    font-size: 40px;
    margin-bottom: 24px;

    @include breakpoint($breakpoint-m) {
      font-size: 4.5rem;
      line-height: 4.5rem;
      margin-bottom: 32px;
    }
  }

  .layout-main-wrapper {
    margin-top: 32px;

    @include breakpoint($breakpoint-m) {
      margin-top: 96px;
    }
  }
}

.node--type-policymaker > section.policymaker-summary {
  margin-bottom: $spacing-m;

  @include breakpoint($breakpoint-m) {
    margin-bottom: $spacing-double + 8px;
  }

  p {
    font-size: $fontsize-body-l;
  }

  .issue-content__policymaker-label {
    margin-bottom: 0;
  }

  .policymaker-summary__label {
    display: flex;
    margin-bottom: $spacing;
  }

  .issue__favorite-button {
    display: none;

    @include breakpoint($breakpoint-l) {
      display: inline-block;
      margin-left: $spacing;
    }
  }

  .announcement {
    h2 {
      font-weight: $font-weight-bold;
      font-size: 1.15rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    @include breakpoint($breakpoint-m) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.policymaker-image {
  margin-bottom: $spacing-triple;

  figure {
    margin: 0;
  }

  img {
    object-fit: cover;
    margin-bottom: $spacing-half;
    width: 100%;
  }
}




.node--type-policymaker .table-of-contents__container {
  position: relative;
  margin-bottom: $spacing-4-xl;
}

.table-of-contents + .policymaker-image {
  padding-top: $spacing-2-xl;
}

.content-menu__arrow {
  display: none;

  &.hel-icon--arrow-up {
    transform: rotate(180deg);
  }

  @include breakpoint($breakpoint-xs) {
    display: block;
    height: 111px;
    color: #FD4F00;
    width: 90px;
    position: absolute;
    right: 0;
  }
}

.node--type-policymaker > section {
  margin-top: 0;
  margin-bottom: $spacing-quadruple;

  .section-description {
    margin-bottom: $spacing-double;

    @include breakpoint($breakpoint-l) {
      margin-bottom: $spacing-triple;
    }
  }
}

.view-all .paatokset-button-link {
  margin-top: $spacing-double;

  span {
    margin-left: auto;
  }
}

.policymaker-list-item {
  border-bottom: 1px solid $color-black-20;
  padding:  $spacing-and-half 0;
  display: block;

  &:first-child {
    border-top: 1px solid $color-black-20;
  }

  &.policymaker-list-item--document,
  .policymaker-list-item--document {
    display: block;
    border-color: $color-black;
    text-decoration: none;

    .subject__date {
      display: block;
    }
  }

  .list-item__date {
    font-size: $fontsize-body-m;
    color: $color-black-light;
    margin-bottom: $spacing;
  }

  .list-item__date--desktop {
    display: none;

    @include breakpoint($breakpoint-l) {
      display: inline;
    }
  }

  .list-item__date--mobile {
    @include breakpoint($breakpoint-l) {
      display: none
    }
  }

  .list-item__subject {
    font-weight: $font-weight-medium;
    font-size: 24px;

    a {
      text-decoration: none;
    }
  }

  .policymaker-list-item--document:hover .list-item__subject {
    text-decoration: underline;
  }
}

h1.minutes__header {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing;
  gap: 24px;

  .minutes__header-prefix {
    font-size: 20px;
  }

  .minutes__header-suffix {
    font-size: $fontsize-body-m;
    color: $color-black-light
  }

  @include breakpoint($breakpoint-l) {
    gap: 0px;
  }
}

h2.minutes-list__header {
  font-weight: $font-weight-medium;
  font-size: 24px;

  margin-bottom: $spacing-and-half;
}

.minutes-list__wrapper {
  font-size: $font-size-body;
  margin-bottom: $spacing-double;
}

.minutes-file__container {
  label {
    display: block;
    margin-bottom: 4px;
  }

  .minutes__publish-date {
    position: relative;
    padding-bottom: $spacing-and-half;

    &:after {
      content: "";
      height: 2px;
      background: $color-black;
      width: 62px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    margin-bottom: $spacing-double;
  }

  .publish-date__date {
    font-size: $font-size-heading-4;
    font-weight: $font-weight-bold;
  }
}

.minutes__file-link {
  margin-bottom: $spacing-half;
}

.policymaker-live-sream {
  .view-all--recordings {
    display: none;
  }
}

.policymaker-label__org-name {
  font-size: 18px;
  margin-top: $spacing * -1;
  margin-bottom: $spacing-double;

  &:after {
    content: "";
    display: block;
    margin-top: $spacing-and-half;
    border-bottom: 2px solid $color-black;
    width: 90px;
  }
}

.minutes-decision__container {
  margin-top: $spacing-4-xl;

  .paatokset-accordion {
    margin-top: $spacing-double;
    margin-bottom: $spacing-double;
    border-bottom: 2px solid $color-black-20;

    .handorgel__header__button,
    .handorgel__content {
      background: transparent;
    }
    .accordion-item__button {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .accordion-item__header {
      font-size: 1.5rem;
    }
  }
}

.minutes-decision__meta {
  font-size: $font-size-body;

  .Kokousaika {
    font-weight: $font-weight-bold;
  }
}

.minutes-decision__heading {
  margin-bottom: 32px;
  line-height: 1.1;
  font-weight: normal;
  font-size: $font-size-heading-3;

  @include breakpoint($breakpoint-l) {
    font-size: $font-size-heading-2;
  }
}
