.paatokset-search-page--decisions {
  .layout-content {
    margin: 0;
  }

  .main-content {
    margin-top: 0;
    background-color: #f7f7f8;
    padding-bottom: calc(#{$footer-koro-height} + #{$spacing-triple}) auto 0;

    @include breakpoint($breakpoint-l) {
      padding-bottom: calc(#{$footer-koro-height} + #{$spacing-quadruple});
    }
  }

  .footer {
    margin-top: 0;
  }

}

.paatokset-search-wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.paatokset-search--decisions {
  margin-bottom: $spacing-double;
}
