.views--taxonomy-term {
  .views-row {
    border-bottom: 1px solid $color-black-20;
    padding:  $spacing-and-half 0;
    display: block;

    &:first-child {
      border-top: 1px solid $color-black-20;
    }

    .views-field-created {
      font-size: $fontsize-body-m;
      color: $color-black-light;
      margin-bottom: $spacing;
    }

    .views-field-title {
      font-weight: $font-weight-medium;
      font-size: 24px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .feed-icon {
    display: flex;
    align-items: center;
    margin-top: $spacing-4-xl;
    text-decoration: none;

    i {
      margin-right: $spacing-half;
    }

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

.policymaker-list-item {
  &:hover {
    .list-item__subject {
      text-decoration: underline;
    }
  }
}
