.issue-header__container {
  border-bottom: 1px solid $color-black-20;
  padding-left: 0;
}

.issue__title {
  margin-bottom: 32px;
}

.issue__diarynumber {
  label {
    display: block;
    font-weight: 600;
  }

  font-size: 16px;
  margin-bottom: 32px;
}

.issue__category {
  margin-bottom: 32px;

  .hds-tag {
    border-radius: 24px;
    background: $color-black;
    color: $color-white;
    padding: 6px 16px;
  }
}
