// The policymakers accordion is a white accordion but it is placed on a gray background
// so to make the close button blend with the background we need to change its background color to transparent.
.component--accordion-bg-white.component--accordion-policymakers .accordion-item__button--close {
  background-color: transparent;
}

// The minutes accordion needs to have some space around it so that the additional information above and
// below won't touch the element.
.component--accordion-minutes {
  margin-block: $spacing-double;
}

// The trustees accordion needs some spacing and minor adjustments for the contents it holds.
.component--accordion-trustee {
  .speaking-turn__group__title,
  .speaking-turn,
  .initiative,
  .resolution,
  .membership {
    margin-block-end: $spacing;

    &:last-child {
      margin-block-end: 0;
    }
  }

  .speaking-turn__group__title {
    font-size: 1.5rem;
  }

  .initiative,
  .resolution {
    .date {
      color: $color-black-50;
      margin-bottom: $spacing-quarter;
    }
  }
}
