.error-page .dialog-off-canvas-main-canvas {
  background: transparent;
}

.has-section-nav .main-content .layout-sidebar-first {
  display: none;

  @include breakpoint($breakpoint-l) {
    display: block;
  }
}

.page-title h1 {
  @include font(h1);
}
