// Helsinki Kanava announcements block

.announcement.announcement--helsinki-kanava {
  h2 {
    @include font('body');
    font-weight: $font-weight-bold;
    margin-block-end: $spacing;
    margin-block-start: $spacing;
  }

  p {
    @include font('body');
  }

  .announcement__content {
    margin-inline-end: auto;
    margin-inline-start: 0;
  }

  .announcement__container {
    margin-inline-start: 0;

    @include breakpoint($breakpoint-m) {
      margin-inline: 0;
    }
  }
}

// Negate padding on policymaker page
.policymaker-summary {
  .announcement.announcement--helsinki-kanava {
    padding-inline: 0;
  }
}
