$box-arrow-size: 30px;

.decision-tree {
  margin-top: $spacing-quadruple;
}

.decision-tree__box {
  @include font('lead');
  border: 2px solid $color-black-90;
  font-weight: $font-weight-medium;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: $spacing-and-half;
  position: relative;
  text-align: center;
  word-wrap: break-word;

  @include breakpoint($breakpoint-s) {
    padding: $spacing-double;
  }

  &:not(&:last-of-type) {
    margin-bottom: $spacing-and-half;

    &::after {
      background-color: $color-white;
      border-bottom: 2px solid $color-black-90;
      border-right: 2px solid $color-black-90;
      bottom: -$spacing;
      content: '';
      height: $box-arrow-size;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      transform: rotate(45deg);
      width: $box-arrow-size;
    }
  }
}

.decision-tree__upper-tree {
  display: flex;
  flex-direction: column;
  margin: 0 $spacing-quadruple $spacing-quadruple;
  position: relative;

  .decision-tree__arrow {
    position: absolute;
  }

  // Needs pixels for positioning
  .arrow-left {
    height: 300px;
    left: -55px;
    top: $spacing-and-half;
    width: 55px;
  }

  // Needs pixels for positioning
  .arrow-right {
    bottom: $spacing-and-half;
    height: 395px;
    right: -65px;
    width: 65px;
  }

  .decision-tree__box:nth-of-type(2),
  .decision-tree__box:nth-of-type(2)::after {
    background-color: $color-fog;
  }

  .decision-tree__box:nth-of-type(3),
  .decision-tree__box:nth-of-type(3)::after {
    background-color: $color-silver;
  }

  .decision-tree__box:nth-of-type(4),
  .decision-tree__box:nth-of-type(4)::after {
    background-color: $color-copper;
  }
}

.decision-tree__lower-tree {
  display: flex;
  flex-direction: column;
  margin: 0 $spacing-quadruple $spacing-quadruple;

  .decision-tree__box:nth-of-type(2),
  .decision-tree__box:nth-of-type(2)::after {
    background-color: $color-suomenlinna;
  }
}

.decision-tree__info-text {
  @include font('h3');
  margin-bottom: $spacing-double;
  text-align: center;
}
