.container.frontpage-calendar__container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.frontpage-calendar {
  background-color: $color-black-5;
  margin-top: $spacing-quadruple;
  position: relative;

  .hds-koros {
    color: $color-black-5;
    position: absolute;

    // Height of the mask is 50px
    top: -50px;
  }

  h2 {
    margin-bottom: $spacing-and-half;
    padding-top: $spacing-double;

    @include breakpoint($breakpoint-l) {
      padding-top: $spacing-triple;
    }
  }

  .container {
    padding-bottom: $spacing-quadruple;
  }
}

.frontpage-calendar__link-container {
  display: flex;
  justify-content: right;
  margin-top: $spacing;

  i {
    width: $spacing-double;
  }

  a {
    @include font('body');
    align-items: center;
    display: flex;
    font-weight: $font-weight-medium;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.frontpage-calendar__item-container {
  display: grid;
  gap: $spacing-and-half;
  grid-template-columns: repeat(1, 1fr);

  @include breakpoint($breakpoint-m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($breakpoint-l) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint($breakpoint-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Minimun height from the design
.frontpage-calendar__item {
  min-height: 280px;
  position: relative;

  .motions-link {
    @include font('small');
    align-items: center;
    display: flex;
    font-weight: $font-weight-medium;
    text-decoration: none;

    .hel-icon {
      --icon-size: 18px;
    }

    &::after {
      content: '';
      inset: 0;
      position: absolute;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .color-line {
    height: $spacing-half;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $spacing-and-half;
  }

  .meeting-date {
    @include font('body');
    margin-bottom: $spacing;
  }

  h3 {
    @include font('h4');
    flex-grow: 1;
    font-weight: $font-weight-medium;
    margin-top: 0;
  }
}

.frontpage-calendar__item-inner {
  background-color: $color-white;
  height: 100%;
}

.frontpage-calendar__notice {
  margin-bottom: $spacing-and-half;

  p {
    margin: 0;
  }
}
