/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.meetings-calendar {
  margin-top: $spacing-triple;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-quadruple;
  }

  .hds-loading-spinner {
    left: unset;
    margin: $spacing-quadruple auto;
    position: relative;
    top: unset;
  }
}

.calendar-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-triple;
  }

  h2 {
    @include font('special.card_title');
    margin: 0 $spacing;
    text-align: center;
    text-transform: capitalize;

    @include breakpoint($breakpoint-s) {
      margin: 0 $spacing-double;
    }
  }

  .hel-icon,
  .icon-container {
    cursor: pointer;
    height: $spacing-double;
    min-width: $spacing-double;
    width: $spacing-double;
  }

  .icon-container--disabled {
    color: $color-silver-medium-light;
  }
}

.calendar-day {
  flex: 1;
  margin-top: 0;
  padding: $spacing;
  position: relative;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-quadruple;
    max-width: 20%;
    min-width: 20%;

    &::after {
      background-color: $color-gold;
      bottom: -$spacing-double;
      content: '';
      display: block;
      height: $spacing-half;
      left: 0;
      margin: 0 $spacing;
      position: absolute;
      right: 0;
    }
  }

  .no-meetings {
    background-color: $color-silver-light;
    height: 100%;
    padding: $spacing;

    @include breakpoint($breakpoint-l) {
      height: calc(100% - $spacing-double);
    }
  }
}

.days-grid {
  display: grid;
  gap: $spacing-double;
  list-style: none;
  padding-left: 0;

  @include breakpoint($breakpoint-l) {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}

.meeting-row {
  @include font('small');
  border-bottom: 1px dashed $color-black-60;
  padding: $spacing 0;

  a {
    align-items: center;
    display: flex;
  }

  .hel-icon {
    height: $spacing;
    width: $spacing;
  }
}

.meeting-title {
  @include font('small');
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-half;
  margin-top: 0;
}


.meeting-start-time {
  color: $color-black-60;
}

.meeting-row--cancelled {
  .meeting-title,
  .meeting-start-time {
    text-decoration: line-through;
  }
}

.date-header {
  @include font('lead');
  border-bottom: 2px solid $color-black;
  display: flex;
  font-weight: $font-weight-medium;
  justify-content: space-between;
  padding-bottom: $spacing-half;
  white-space: nowrap;
}

.calendar-day__today {
  .meeting-row {
    background-color: $color-gold-light;
    padding: $spacing;
  }

  .date-header {
    border-color: $color-gold;
    color: $color-gold;
  }
}

.calendar-day__no-meetings {
  .date-header {
    border-color: $color-black-60;
    color: $color-black-60;
  }
}