.meetings-calendar {
  margin-top: $spacing-triple;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-quadruple;
  }
}

.meetings-calendar__header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-triple;
  }

  h2 {
    @include font('special.card_title');
    margin: 0 $spacing;
    text-align: center;
    text-transform: capitalize;

    @include breakpoint($breakpoint-s) {
      margin: 0 $spacing-double;
    }
  }

  .hel-icon {
    height: $spacing-double;
    min-width: $spacing-double;
    width: $spacing-double;
  }

  .meetings-calendar__month-button {
    background: none;
    border: 0;
    height: 44px; // Minimum height for AAA level
    padding: 0;
    width: 44px; // Minimum width for AAA level

    &:focus,
    &:active {
      outline: 3px solid $color-black;
      outline-offset: 2px;
    }
  }

  .meetings-calendar__month-button--disabled {
    color: $color-silver-medium-light;
  }
}

.meetings-calendar__day {
  flex: 1;
  margin-top: 0;
  padding: $spacing;
  position: relative;

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-quadruple;
    max-width: 20%;
    min-width: 20%;

    &::after {
      background-color: $color-gold;
      bottom: -$spacing-double;
      content: '';
      display: block;
      height: $spacing-half;
      left: 0;
      margin: 0 $spacing;
      position: absolute;
      right: 0;
    }
  }
}

.meetings-calendar__grid {
  display: grid;
  gap: $spacing-double;
  list-style: none;
  padding-left: 0;

  @include breakpoint($breakpoint-l) {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}

.meetings-calendar__meeting {
  @include font('small');
  border-bottom: 1px dashed $color-black-60;
  padding: $spacing 0;

  a {
    align-items: center;
    display: flex;
  }

  .hel-icon {
    height: $spacing;
    width: $spacing;
  }
}

.meetings-calendar__meeting__title {
  @include font('small');
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-half;
  margin-top: 0;
}


.meetings-calendar__meeting__start-time {
  color: $color-black-60;
}

.meetings-calendar__meeting--cancelled {
  .meetings-calendar__meeting__title,
  .meetings-calendar__meeting__start-time {
    text-decoration: line-through;
  }
}

.meetings-calendar__day__header {
  @include font('lead');
  border-bottom: 2px solid $color-black;
  display: flex;
  font-weight: $font-weight-medium;
  justify-content: space-between;
  margin-top: 0;
  padding-bottom: $spacing-half;
  white-space: nowrap;
}

.calendar-day__today {
  .meetings-calendar__meeting {
    background-color: $color-gold-light;
    padding: $spacing;
  }

  .meetings-calendar__day__header {
    border-color: $color-gold;
    color: $color-gold;
  }
}

.meetings-calendar__day--no-meetings {
  .meetings-calendar__day__header {
    border-color: $color-black-60;
    color: $color-black-60;
  }

  .meetings-calendar__meeting__title {
    background-color: $color-silver-light;
    height: 100%;
    padding: $spacing;

    @include breakpoint($breakpoint-l) {
      height: calc(100% - $spacing-double);
    }
  }
}