.policymaker-contacts {
  @include font('body');
  width: 100%;

  h2 {
    @include breakpoint($breakpoint-l) {
      display: none;
    }
  }

  h3 {
    margin-bottom: $spacing-and-half;
  }

  label.unit__contact-row__label {
    font-weight: $font-weight-bold;
  }

  article h3 {
    margin-top: 0;
  }
}
