.policymaker-browser {
  @include component-margin-top;
  background-color:  $color-black-5;
  padding: $spacing-and-half $spacing;

  @include breakpoint($breakpoint-m) {
    padding: $spacing-double $spacing-double $spacing-triple;
  }
}

.policymaker-browser__breadcrumb {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
}

.policymaker-browser__breadcrumb-arrow.hds-breadcrumb__back-arrow {
  margin-left: 0; // Override hds-breadcrumb__back-arrow margin.
}

.policymaker-browser__breadcrumb__link {
  @include font('small');
  font-weight: $font-weight-medium;
  margin-inline-start: $spacing-half;
  padding-block: 10px; // Add 10px padding to make the link target area 44px tall;

  &:focus-visible {
    outline: 2px solid $color-black;
    outline-offset: 2px;
  }
}

.policymaker-browser__current-level {
  margin-block-start: $spacing-and-half;
}

.policymaker-browser__children {
  list-style: none;
  margin: $spacing-and-half 0 0 0;
  padding: 0;
}

.policymaker-browser__child {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  margin-block-start: $spacing-half;
  padding: 0;

  &:first-child {
    margin-block-start: 0;
  }
}

.policymaker-browser__child__header {
  padding: $spacing-and-half;
}

.policymaker-browser__child-title {
  margin-block: 0 $spacing-half;
}

.policymaker-browser__child-title-link:focus-visible {
  outline: 2px solid $color-black;
  outline-offset: 2px;
}

.policymaker-browser__child-title:only-child {
  margin-block-end: 0;
}

.policymaker-browser__child__expand {
  align-items: center;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  min-height: calc(70px + #{$spacing-double});
  overflow: hidden;
  position: relative;
  width: calc(40px + #{$spacing-and-half});

  &::before {
    @include pseudo-icon('angle-right', $spacing-and-half, black);
    @include hover-link-arrow-transition;
  }

  &::after {
    background-color: $color-black-50;
    content: '';
    height: calc(100% - $spacing-triple);
    left: 0;
    position: absolute;
    top: $spacing-and-half;
    width: 1px;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      transform: translateX(4px);
    }
  }

  &:focus-visible {
    outline: 2px solid $color-black;
    outline-offset: -1px;
  }
}
