.policymaker-side-menu--desktop {
  display: none;

  @include breakpoint($breakpoint-l) {
    display: block;
  }
}

.policymaker-side-menu {
  &.policymaker-side-menu--mobile {
    margin-bottom: -30px;
    margin-top: 30px;
    max-width: 1328px;

    @include breakpoint($breakpoint-l) {
      display: none;
    }

    .sidebar-navigation__title span {
      align-items: center;
      display: flex;
      margin-block: $spacing-half;
      padding: $spacing;
    }
  }
}

.policymaker-side-menu--desktop,
.sidebar-navigation {
  li {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  .menu {
    flex-direction: column;
  }

  a[icon="angle-left"] {
    align-items: center;
    display: flex;

    svg {
      margin-right: $spacing-half;
    }
  }

  .active {
    font-weight: bold;
  }
}
