/* stylelint-disable plugin/no-low-performance-animation-properties -- @todo UHF-12501 */
.policymaker-listing {
  background-color: $color-silver-light;

  .container {
    padding-block: $spacing-quadruple;
  }

  h2 {
    margin-bottom: $spacing-triple;
  }
}

.policymaker-card__container {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  margin-bottom: $spacing-quadruple;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
  }

  .policymaker-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;

    @include breakpoint($breakpoint-s) {
      padding-bottom: 0;
      width: 50%;
    }

    &:hover {
      .hel-icon {
        transform: translate($spacing-half);
      }
    }
  }

  .policymaker-card__color-title {
    font-weight: $font-weight-medium;
    padding: $spacing-quarter 0;
    text-align: center;
    text-transform: uppercase;
  }

  .policymaker-card__title-icon {
    background-color: $color-white;
    padding: $spacing-and-half;

    h4 {
      margin-top: 0;
    }
  }

  .hel-icon {
    --icon-size: 30px;
    transition: all 0.2s ease-in-out;
  }
}

.policymaker-row__link {
  align-items: center;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing;
  margin-top: $spacing;
  padding: $spacing-double;
  position: relative;
  text-decoration: none;

  &:hover {
    .hel-icon {
      transform: translate($spacing-half);
    }
  }

  .hel-icon {
    --icon-size: 30px;
    transition: all 0.2s ease-in-out;
    width: 10%;
  }

  .policymaker-row__color {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: $spacing;
  }

  .policymaker-row__title {
    @include font('h4');
    hyphens: auto;
    overflow-wrap: break-word;
    padding-right: $spacing;
    width: 90%;
    word-wrap: break-word;
  }

  .policymaker-row__sub-title {
    @include font('lead');
    color: $color-black-50;

    // Styles for react results
    svg {
      --icon-size: 18px;
      margin-top: $spacing-half;
    }
  }
}

.hds-button.load-more-btn {
  display: none;
}
