/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.policymaker-members {
  h2 {
    margin-bottom: $spacing-double;
  }
}

.policymaker-members__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 54px;

  input:not(input[type='checkbox']),
  select {
    border: 2px solid $color-black-50;
    height: 56px;
    padding: $spacing;
    width: 100%;
  }

  select {
    appearance: none;
  }

  option {
    color: $color-black;
  }

  .search-wrapper {
    margin-bottom: 36px;
    position: relative;
    width: 100%;

    .hel-icon {
      bottom: $spacing;
      height: $spacing-and-half;
      left: 20px;
      position: absolute;
      width: $spacing-and-half;
    }

    input {
      padding-left: 56px !important;
    }
  }

  .form-item {
    margin-bottom: 36px;
    width: 100%;

    @include breakpoint($breakpoint-s) {
      width: 48%;
    }
  }

  .form-item__dropdown {
    position: relative;

    .hel-icon {
      bottom: $spacing;
      height: $spacing-and-half;
      pointer-events: none;
      position: absolute;
      right: 20px;
      width: $spacing-and-half;
    }
  }

  .form-item--checkbox__item {
    list-style: none;

    label {
      display: flex;
    }

    span {
      padding-left: $spacing-three-quarters;
      white-space: nowrap;
    }

    input {
      appearance: none;
      content: none;
      outline: none;

      &::before {
        @include font('lead');
        align-items: center;
        border: 2px solid $color-black-50;
        content: '';
        display: flex;
        height: $spacing-and-half;
        justify-content: center;
        max-height: $spacing-and-half;
        max-width: $spacing-and-half;
        width: $spacing-and-half;
      }

      &:checked::before {
        content: '\2713';
      }
    }
  }
}

.policymaker-members__list {
  border-top: 2px solid $color-black;

  .member-row {
    align-items: center;
    border-bottom: 1px solid $color-black;
    display: flex;
    justify-content: space-between;
    padding: $spacing-double 0;
    text-decoration: none;

    &:link:hover {
      .member-name {
        text-decoration: underline;
      }
    }
  }

  .member-info > div {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($breakpoint-s) {
      align-items: center;
      flex-direction: row;
    }
  }

  .member-info {
    display: flex;
    flex-direction: column;

    .deputy-of {
      margin-top: $spacing;
    }
  }

  .member-image {
    border-radius: 50%;
    height: 75px;
    margin-left: $spacing-half;
    min-height: 75px;
    min-width: 75px;
    overflow: hidden;
    width: 75px;

    img {
      height: auto;
      width: 100%;
    }

    @include breakpoint($breakpoint-s) {
      height: 120px;
      min-height: 120px;
      min-width: 120px;
      width: 120px;
    }
  }

  .member-name {
    @include font('lead');
    font-weight: $font-weight-medium;
    line-height: 29px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .member-role,
  .member-party {
    @include font('small');
    color: $color-black-60;
    line-height: $spacing-and-half;

    @include breakpoint($breakpoint-s) {
      @include font('body');
      line-height: 27px;
    }
  }

  .member-role {
    &::after {
      content: ',';
      margin-right: $spacing-quarter;
    }

    @include breakpoint($breakpoint-s) {
      &::after {
        display: none;
      }
    }
  }

  .member-party {
    align-items: center;
    display: flex;

    @include breakpoint($breakpoint-s) {
      &::before {
        background-color: $color-black;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: $spacing-quarter;
        margin: 0 $spacing-half;
        width: $spacing-quarter;
      }
    }
  }

  .no-results {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: $spacing 0;
  }
}
