/* stylelint-disable plugin/no-low-performance-animation-properties -- @todo UHF-12501 */
/* stylelint-disable max-nesting-depth -- @todo UHF-12501 */
.tabbed-content__container {
  :not(.has-sidebar) & {
    margin-left: auto;
    margin-right: auto;
  }

  .hidden {
    display: none;
  }

  .tabbed-list {
    border-bottom: 0;
  }

  .tabbed-list__content__inner {
    padding: 0;
  }

  .custom-select-wrapper {
    bottom: $spacing-half;
    position: absolute;
    right: 0;
  }


  .tabbed-content__title span {
    @include font('h3');
    display: block;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing;
    margin-top: $spacing-triple;
  }

  /* stylelint-disable no-duplicate-selectors -- @todo UHF-12501 */
  .tabbed-list__content__inner {
    border-bottom: 1px solid $color-black;
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .tabbed-list__content__inner input {
    @include font('lead');
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu {
    margin-bottom: 0;
    overflow: auto;
    padding-left: 0;

    /* stylelint-disable selector-pseudo-class-no-unknown -- @todo UHF-12501 */
    &:scroll {
      display: none;
    }

    .item {
      border-bottom: 6px solid transparent;
      display: inline-block;
      margin-right: $spacing-and-half;
      padding-bottom: $spacing;

      &.hidden {
        display: none;
      }
    }

    .item.selected {
      border-bottom: 6px solid $color-black;
      padding-bottom: $spacing;
    }
  }

  .container.tabbed-content__container {
    padding: 0;
  }
}

.policymakers-documents,
.policymakers-decisions {
  display: none;

  &.selected-year {
    display: block;
  }
}

.custom-select {
  display: flex;
  flex-direction: column;

  .custom-options {
    display: none;
  }
}

.custom-select.open .custom-options {
  background-color: $color-white;
  border: 1px solid $color-black;
  display: block;
  left: 0;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  right: 0;
  text-align: center;
  top: $spacing-triple;
  visibility: visible;
}

.custom-select__trigger {
  @include font('body');
  align-items: center;
  background-color: unset;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
  margin: 0;
  padding: 0 $spacing-half $spacing-and-half $spacing;
  position: relative;

}

.custom-options {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 99;
}

.custom-option {
  @include font('lead');
  color: $color-black-80;
  cursor: pointer;
  padding: $spacing-half $spacing-and-half;
  position: relative;
  transition: all 0.5s;
}

.custom-option:hover {
  background-color: $color-black-30;
  cursor: pointer;
}

.custom-option.selected {
  background-color: $color-coat-of-arms-dark;
  color: $color-white;
}

@media (max-width: $container-width-s) {
  .desktopTd {
    display: none;
  }
}

@media (min-width: $container-width-s) {
  .mobileTd {
    display: none;
  }
}

.paatokset_download-link-container .paatokset__link-plain {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacing-and-half;

  span {
    margin-right: $spacing-three-quarters;
  }
}

.policymaker-no-content {
  margin-top: $spacing-and-half;
}
