.has-policymaker-nav {
  &.has-sidebar, .has-sidebar {
    .before-content--in-main .page-title {
      margin-top: 0;
    }
  }
}

// Unify page divider logic for Päätökset site.
.page-divider {
  display: none!important;
}

.has-sidebar.page-type--page,
.has-sidebar.page-type--landing-page {
  .page-title::after {
    background-color: $color-black;
    content: '';
    display: block;
    height: 2px;
    margin-top: $spacing-double;
    width: $spacing-quadruple;
  }
}
