{%
  set classes = [
  'policymaker-members',
  view_mode ? 'policymaker-members--view-mode-' ~ view_mode|clean_class,
]
%}

<div {{ attributes.addClass(classes) }}>
  <h2>{{ content['#title'] }}: {{ policymaker_name }}</h2>
  <div id="policymaker-members-vue"></div>
</div>
