<div class="components components--computed">
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
        'component--full-width',
        'component--no-side-padding',
        'component--policymaker-documents',
      ]
    }
  %}
    {% block component_content %}
      {% embed '@hdbt/component/content-list-with-count.twig' %}
        {% block count_container %}
          {%- if total_rows -%}
            {{ total_rows }} {% trans with {'context': 'Policymaker documents list'}%}document{% plural total_rows %}documents{% endtrans %}
          {%- else -%}
            {{ 'No results'|t({}, {'context' : 'Policymaker documents list'}) }}
          {%- endif -%}
        {% endblock count_container %}
      {% endembed %}

    {% endblock component_content %}
  {% endembed %}
</div>
