<div class="components components--computed">
  {% embed "@hdbt/misc/component.twig" with
    {
      component_classes: [
      'component--full-width',
      'component--no-side-padding',
      'component--all-initiatives',
    ]
    }
  %}
    {% block component_content %}
      {% embed '@hdbt/component/content-list-with-count.twig' %}
        {% block count_container %}
          {%- if total_rows -%}
            {{ total_rows }} {% trans with {'context': 'All initiatives list'}%}initiative{% plural total_rows %}intitiatives{% endtrans %}
          {%- else -%}
            {{ 'No results'|t({}, {'context' : 'All initiatives list'}) }}
          {%- endif -%}
        {% endblock count_container %}
      {% endembed %}

    {% endblock component_content %}
  {% endembed %}
</div>
