
<div class="hero-wrapper has-first-gray-bg-block">
  {% embed '@hdbt/component/hero.twig' with {
    design: 'without-image-left',
    title: hero_title,
    description: hero_description,
  } %}
  {% endembed %}
</div>
