//
// @file
// This file includes all variables related to colors
//
$page-background: #fff; //#F7F7F7;

$color-black: #000000;
$color-white: #ffffff;

$gray-light: #efefef;
$gray-medium: #cecbbd;
$gray: #707070;
$gray-dark: #4a4a49;

// Colors
$yellow: #e7aa00;
$yellow-light: #ffd238;
$blue: #0061ad;
$blue-light: #00b2ec;
$orange: #ea5b0a;
$cyan: #8ccdca;
$green: #00aa7a;
$pink: #e93171;
$red: #e4072d;

// Colors for messages
$error-light: #e98491;
$error-dark: #ed1a3b;
$status-light: #7dcdc8;
$status-dark: #00a97a;
$warning-light: #f29869;
$warning-dark: #f26522;

// Logo color
$blue-logo: #00b9f2;

$color-bus: #0000bf;
$color-black-20: #cccccc;

$council-green: #00d7a7;
$board-grey: #dedfe1;
$traffic-yellow: #ffe977;
$committee-blue: #9fc9eb;
$trustee-pink: #f5a3c7;
