{% embed "@hdbt/misc/component.twig"  with
    {
      component_classes: [
        'component--full-width',
        'component--unit-search',
      ],
      component_title_level: 'h2',
      component_title: 'Limit search results'|t({}, {'context': 'Policymaker search'}),
      component_description: lead_in,
    }
  %}
    {% block component_content %}
      <div class="paatokset-search--policymaker">
        {{ search_element|render }}
      </div>
    {% endblock component_content %}
{% endembed %}
