@import 'combobox';
@import 'date-picker';
@import 'decisions-search-form';
@import 'decisions-search-frontpage';
@import 'issues-dropdown';

.department--council:before {
  background-color: $color-copper;
}

.department--board-division:before, .department--board:before {
  background-color: $color-silver;
}

.department--traffic:before {
  background-color: $color-engel;
}

.department--committee:before {
  background-color: $color-fog;
}

.department--trustee:before {
  background-color: $color-suomenlinna;
}
