$collapsible_height: 56px;

.decisions-search-date-select {
  &.dateselect-wrapper {
    position: relative;
  }

  .DateSelect__title {
    svg {
      margin-right: 10px;
    }
  } 

  .DateSelect__collapsible-handle {
    margin-left: auto;
  }

  .DateSelect__collapsible-element {
    border: 2px solid #808080;
    border-radius: 2px;
  }

  .DateSelect__collapsible-control {
    width: 100% ;
    height: $collapsible_height;
    background: #fff;
    font-size: 18px;
    display:flex;
    align-items: center;
    padding: 12px 16px;

    &.is-open {
      border-bottom: 1px solid #cccccc;
      color: #000000;
    }

    color: #808080;

    svg {
      color: #000000;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus:hover {
      color: #000000;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .collapsible-element--children {
    position: absolute;
    border-top: none;
    top: $collapsible_height;
    background-color: #fff; 
    z-index: 2;
    width: 100%;
  }

  .DateSelect__title {
    display: flex;
    align-items: center;
  }
  
  .DateSelect__datepicker-container {
    padding: 16px;
    padding-top: 31px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    @media (min-width: 1200px) {
      display: block;
    }
  }
  
  .DateSelect__date-fields-container {
    margin-bottom: 31px;

    svg {
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (min-width: 768px) {
      margin-right: 16px;
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      margin-bottom: 31px;
    }
  }

  .DateSelect__date-fields-divider {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .DateSelect__inner-control {
    background-color: transparent;
    border: none;
    border-top: 1px solid #cccccc;
    color: #000;
    width: 100%;
    height: $collapsible_height;

    &:not(:disabled):hover {
      border-color:#cccccc;
    }
  }

  .DateSelect__predefined-ranges-container {
    fieldset {
      --spacing-row: 0;
      --spacing-gap: 0;
      margin: 0;
    }

    fieldset > div {
      display: block;

      & > div {
        padding-left: 16px;
        padding-right: 16px;
        height: $collapsible_height;
        display: flex;
        align-items: center;
        width: 100%;

        & > div {
          width: 100%;
        }
        
        & > div label {
          width: 100%;
        }

        & > div label:after {
          --background-selected: #000000;
          --background-hover: #000000;
          --border-color-selected: #000000;
          --border-color-selected-focus: #000000;
          --border-color-selected-hover: #000000;
        }
      }
    }
  }

  .DateSelect__collapsible-handle {
    pointer-events: none;
  }

  &:focus-within .DateSelect__collapsible-control  {
    @include focus-outline;
  }  
}

