/* Quick search form fixes */
.paatokset-search--decisions,
.paatokset-search-wrapper,
.paatokset-search--frontpage {
  h1 {
    @include font('h1');
  }
  h1, label, .container > p {
    color: $color-black;
  }
  button + ul li {
    font-size: 16px;
    margin-top: 0;
  }
  button + ul li[class*='Select-module_highlighted'] {
    background-color: $color-black!important;
    color: $color-white !important;

    span {
      border-color: $color-white !important;
      box-shadow: none!important;
    }
  }
  button > span[class*='Select-module_buttonLabel'] {
    color: rgb(102, 102, 102);
  }
  .DateSelect__predefined-ranges-container + button {
    border-top-color: $color-black-20;
  }
  .DateSelect__predefined-ranges-container + button:hover {
    background-color: $color-black;
    border-color: $color-black;
  }

  // Autocomplete styles.
  .search-autocomplete {
    border-top-color: $color-black-20;
    border-top-width: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
  .search-autocomplete__wrapper {
    position: relative;
    z-index: 10;
  }
  .search-autocomplete__item {
    cursor: pointer;
    font-size: 16px;
    padding: 0.75rem 1rem;
  }
}

.paatokset-search--frontpage {
  div[class*='SearchBarWrapper_SearchBarWrapper'] {
    max-width: 100%;
  }
}
