.decisions-search-selected-filters {
  margin-top: 37.5px;
  padding-top: 28px;
  border-top: 1px solid black;
  overflow: hidden;

  @media (min-width: 1200px) {
    margin-top: 55px;
  }
}

.decisions-search-selected-filters__container {
  display: flex;
  flex-flow: row wrap;
}

.decisions-search-selected-filters__filter {
  font-size: 14px;
  color: #121212;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  padding: 12px 0px 12px 20px;
  margin-right: 20px;
  margin-bottom: 12px;
  border: solid 1px #000;
  cursor: pointer;

  svg {
    margin-left: var(--spacing-2-xs);
    margin-right: var(--spacing-xs);
  }

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:focus {
    @include focus-outline;
  }
}

.decisions-search-selected-filters__filter-label {
  margin-right: 20px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.decisions-search-selected-filters__clear-filters {
  border: none;
  background: transparent;
  color: #000;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 12px;
  border: 2px solid transparent;
  cursor: pointer;

  svg {
    margin-left: 0;
  }

  &:hover {
    color: #121212;
    background-color: transparent;
    border-color: #000;
  }
}
