.decisions-search-selected-filters-container {
  padding: 28px 0;
  overflow: visible;
  background: #f7f7f8;
}

.decisions-search-selected-filters-container__container {
  display: flex;
  flex-flow: row wrap;
}

.decisions-search-selected-filters-container__filter {
  font-size: 14px;
  color: #121212;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  padding: 12px 0px 12px 20px;
  margin-right: 20px;
  margin-bottom: 12px;
  border: solid 1px #000;
  cursor: pointer;

  svg {
    margin-left: var(--spacing-2-xs);
    margin-right: var(--spacing-xs);
  }

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &:focus {
    @include focus-outline;
  }
}

.decisions-search-selected-filters-container__clear-filters {
  border: none;
  background: transparent;
  color: #000;
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 12px;
  border: 2px solid transparent;
  cursor: pointer;

  svg {
    margin-left: 0;
  }

  &:hover {
    color: #121212;
    background-color: transparent;
    border-color: #000;
  }
}

.decisions-search-selected-filters-container__filter-label {
  margin-right: 13px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
