// New theme for ajax-progress.
.ajax-progress,
.ajax-progress-throbber,
.ajax-progress-fullscreen {
  background: rgb(255 255 255 / 60%);
  border-radius: 0;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-indent: -99999em;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.ajax-progress-throbber::before,
.ajax-progress-fullscreen::before {
  animation: spin 0.8s infinite linear;
  border-color: $color-black-70 transparent $color-black-70 transparent;
  border-radius: 120px;
  border-style: solid;
  border-width: $spacing-half;
  bottom: 0;
  content: " ";
  display: block;
  height: 120px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -99999em;
  top: 0;
  width: 120px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
