.paatokset-button-link {
  align-items: center;
  color: $color-black;
  display: flex;
  font-weight: $font-weight-medium;
  text-decoration: none;
  width: 100%;

  i, span {
    margin-right: $gutter - 2px;
  }

  .hel-icon {
    height: $spacing-and-half;
    width: $spacing-and-half;
  }

  &:hover {
    text-decoration: underline;
  }
}

.paatokset__link-plain {
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
