// @todo refactor policymaker search results styles

.policymaker-search-results {
  min-height: 250px;
  position: relative;

  @media (min-width: 1248px) {
    padding-top: 100px;
  }
}

.policymaker-search-results__container {
  >div:first-child {
    width: 100%;
  }
}

.policymaker-search-results__stats-count {
  margin-bottom: 22px;
  width: 100%;
}
