// @todo audit this file when searches get an update: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11962

.decisions-search-loader {
  background: rgb(255 255 255 / 60%);
  border-radius: 0;
  height: 100%;
  left: 0;
  margin: 0;
  min-width: 100%;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-indent: -99999em;
  top: 0;
  width: 100%;
  z-index: 999999;

  &::before {
    animation: spin 0.8s infinite linear;
    border-color: $color-black-70 transparent $color-black-70 transparent;
    border-radius: 120px;
    border-style: solid;
    border-width: 10px;
    bottom: 0;
    content: " ";
    display: block;
    height: 120px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-indent: -99999em;
    top: 0;
    width: 120px;
  }

  p {
    visibility: hidden;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
