@import 'combobox';
@import 'date-picker';
@import 'date-select';
@import 'decisions-search-form';
@import 'issues-dropdown';
@import 'search-bar-wrapper';
@import 'selected-filters-container';
@import 'selected-filters';

$council-green: $color-copper;
$board-grey: $color-silver;
$traffic-yellow: $color-engel;
$committee-blue: $color-fog;
$trustee-pink: $color-suomenlinna;

.department--council:before {
  background-color: $council-green;
}

.department--board-division:before, .department--board:before {
  background-color: $board-grey;
}

.department--traffic:before {
  background-color: $traffic-yellow;
}

.department--committee:before {
  background-color: $committee-blue;
}

.department--trustee:before {
  background-color: $trustee-pink;
}
