// @todo audit this file when searches get an update: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11962

$collapsible_height: 56px;

.decisions-search-date-select {
  > label {
    color: $color-black;
  }

  &.dateselect-wrapper {
    position: relative;
  }

  .DateSelect__title {
    svg {
      margin-right: 10px;
    }
  }

  .DateSelect__collapsible-handle {
    margin-left: auto;
  }

  .DateSelect__collapsible-element {
    border: 2px solid $color-black-50;
    border-radius: 2px;
  }

  .DateSelect__collapsible-control {
    @include font('body');
    align-items: center;
    background: $color-white;
    color: $color-black-50;
    display: flex;
    height: $collapsible_height;
    padding: 12px 16px;
    width: 100%;

    &.is-open {
      border-bottom: 1px solid $color-black-30;
      color: $color-black;
    }

    svg {
      color: $color-black;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus:hover {
      color: $color-black;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .collapsible-element--children {
    background-color: $color-white;
    border-top: none;
    position: absolute;
    top: $collapsible_height;
    width: 100%;
    z-index: 2;
  }

  .DateSelect__title {
    align-items: center;
    display: flex;
  }

  .DateSelect__datepicker-container {
    padding: 16px;
    padding-top: 31px;

    @media (min-width: 768px) {
      align-items: center;
      display: flex;
      justify-content: space-around;
    }

    @media (min-width: 1200px) {
      display: block;
    }
  }

  .DateSelect__date-fields-container {
    margin-bottom: 31px;

    svg {
      margin-left: 15px;
      margin-right: 15px;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 16px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 31px;
    }
  }

  .DateSelect__date-fields-divider {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .DateSelect__inner-control {
    background-color: transparent;
    border: none;
    border-top: 1px solid $color-black-30;
    color: $color-black;
    height: $collapsible_height;
    width: 100%;

    &:not(:disabled):hover {
      border-color: $color-black-30;
    }
  }

  .DateSelect__predefined-ranges-container {
    label {
      font-weight: $font-weight-bold;
    }

    fieldset {
      --spacing-row: 0;
      --spacing-gap: 0;
      margin: 0;
    }

    fieldset > div {
      display: block;

      > div {
        align-items: center;
        display: flex;
        height: $collapsible_height;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;

        > div {
          width: 100%;
        }

        > div label {
          width: 100%;
        }
      }
    }
  }

  .DateSelect__collapsible-handle {
    pointer-events: none;
  }

  &:focus-within .DateSelect__collapsible-control {
    @include focus-outline;
  }
}
