.decisions-search__date-filter .collapsible__children {
  padding: 0;
}

.date-filter__predefined-ranges-container,
.date-filter__datepicker-wrapper {
  padding: $spacing;
}

.date-filter__inner-control {
  margin-top: $spacing;
  width: 100%;
}

.paatokset-search-wrapper {
  button + ul li {
    @include font('small');
    margin-top: 0;
  }

  button + ul li[class*='Select-module_highlighted'] {
    background-color: $color-black !important;
    color: $color-white !important;

    span {
      border-color: $color-white !important;
      box-shadow: none !important;
    }
  }

  button > span[class*='Select-module_buttonLabel'] {
    color: $color-black-60;
  }

  // Autocomplete styles.
  .search-autocomplete {
    border: 2px solid $color-black;
    border-top: none;
    left: 0;
    position: absolute;
    right: 0;
  }

  .search-autocomplete__wrapper {
    position: relative;
    z-index: 10;
  }

  .search-autocomplete__item {
    @include font('small');
    cursor: pointer;
    padding: $spacing;
  }
}

.paatokset-search--policymaker {
  margin-top: $spacing-triple;
}

/* stylelint-disable selector-id-pattern */
#paatokset_search {
  .wrapper {
    padding: $spacing 0;
  }
}

.decisions-search-form-container__koro-wrapper {
  background: $color-black-5;
  left: 0;
  position: absolute;
  width: 100%;
}

.decisions-search-form-container__koro {
  fill: var(--color-gold);
  position: relative;
  top: -1px;
  transform: rotate(180deg);
  width: 100%;
}

.decisions-search-form-element {
  margin-bottom: $spacing;

  > input,
  > button {
    @include input;
  }
}

.decisions-search-form-element label {
  @include font('small');
}

.decisions-search-form-element > label,
.decisions-search-form-element__select > label {
  display: block;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-quarter;

  @media (width <= 768px) {
    display: none;
  }
}

.decisions-search-form-container__lower-fields {
  @media (width >= 1248px) {
    align-items: flex-start;
    display: flex;
    margin-bottom: $spacing;
  }
}

.decisions-search-form-container__lower-fields .decisions-search-form-element {
  max-width: 100%;

  @media (width >= 1248px) {
    margin-bottom: 0;

    &:not(:first-child) {
      margin-left: $spacing-and-half;
    }

    &:last-of-type {
      flex-grow: 1;
    }
  }
}

.decisions-search-bar-wrapper {
  flex: 1;

  .input-group {
    box-shadow: none;
  }

  input {
    @include input;
    background-color: $color-white;
    line-height: $input-height;

  }
}

.decisions-search-bar-wrapper__label {
  align-items: center;
  color: $color-black;
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  font-weight: bold;
  gap: $spacing-quarter;
  justify-content: space-between;
  margin-bottom: $spacing-quarter;

  span {
    flex: 0 0 auto;
    margin-bottom: 0;
  }
}

.decisions-search-bar-wrapper__label-status {
  @include font('special.helper_text');
  margin-block-end: $spacing-half;
}

.decisions-search-bar-wrapper__input {
  &:focus-within input {
    @include focus-outline;
  }
}

.decisions-search-submit-button[type='submit'] {
  width: 100%;
}

.decisions-search-submit-button--desktop {
  max-width: 258px;
}

.decisions-search-submit-button--mobile {
  margin-bottom: $spacing-double;
}
