// @todo remove/refactor this file once frontpage module of decisions search is rewritten

.paatokset-search--frontpage {
  h1 {
    @include font('h1');
  }

  h1,
  .container > p,
  .container--search-description p {
    color: $color-black;
  }

  button + ul li {
    @include font('small');
    margin-top: 0;
  }

  button + ul li[class*='Select-module_highlighted'] {
    background-color: $color-black !important;
    color: $color-white !important;

    span {
      border-color: $color-white !important;
      box-shadow: none !important;
    }
  }

  div[class*='SearchBarWrapper_SearchBarWrapper'] {
    max-width: 100%;
  }

  // Autocomplete styles.
  .search-autocomplete {
    border: 2px solid $color-black;
    border-top: none;
    left: 0;
    position: absolute;
    right: 0;
  }

  .search-autocomplete__wrapper {
    position: relative;
    z-index: 10;
  }

  .search-autocomplete__item {
    cursor: pointer;

    @include font('small');
    padding: 0.75rem 1rem;
  }
}

.container--search-frontpage {
  padding-left: 0;
  padding-right: 0;
}

.decisions-search-form-container {
  position: relative;

  @media (min-width: var(--breakpoint-xl)) {
    margin-top: 80px;
  }
}

.decisions-search-form-container--gold {
  background-color: var(--color-gold);
}

.decisions-search-form {
  padding-bottom: 6px;
}

.decisions-search-form-element {
  margin-bottom: 16px;

  > input,
  > button {
    @include input;
  }
}


.decisions-search-bar-wrapper {
  flex: 1;

  input {
    @include input;
    line-height: $input-height;
  }
}

.decisions-search-bar-wrapper__label {
  align-items: center;
  color: $color-black;
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  font-weight: bold;
  gap: var(--spacing-3-xs);
  justify-content: space-between;
  margin-bottom: var(--spacing-3-xs);

  span {
    flex: 0 0 auto;
    margin-bottom: 0;
  }
}

.decisions-search-bar-wrapper__label-status {
  @include font('special.helper_text');;
}

.decisions-search-bar-wrapper__input {
  &:focus-within input {
    @include focus-outline;
  }
}

// Needs specific selector to override HDS button styles
.decisions-search-submit-button[type='submit'] {
  --background-color-focus: #{$color-white};
  --background-color-hover: #{$color-white};
  --background-color: #{$color-black};
  --color-focus: #{$color-black};
  --color-hover: #{$color-black};
  height: 56px;
  width: 100%;
}

.decisions-search-submit-button--policymakers[type='submit'] {
  --background-color-focus: --color-gold;
  --background-color-hover: --color-gold;
}

.decisions-search-submit-button--desktop {
  max-width: 258px;
}

.decisions-search-submit-button--mobile {
  margin-bottom: 34.5px;
}
