.paatokset-search--policymaker {
  margin-top: $spacing-triple;
}

.hdbt-search--react__submit-button.policymaker-submit-button {
  margin-bottom: 0;
}

.hdbt-search--react__dropdown-filters .policymaker-dropdown {
  max-width: unset;
  width: 100%;
}
