// @todo UHF-12379 This whole file can probably be deleted after the refactoring is done. https://helsinkisolutionoffice.atlassian.net/browse/UHF-12379

.policymaker-search-result-card {
  width: 100%;

  svg {
    /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
    transition: all 0.2s ease-in-out;
  }
}

