// @todo audit this file when searches get an update: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11962

.policymaker-search-result-card {
  background: $color-white;
  width: 100%;

  svg {
    /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
    transition: all 0.2s ease-in-out;
  }
}

.policymaker-search-result-card__container {
  align-items: center;
  color: $color-black;
  display: flex;
  justify-content: space-between;
  padding: 34px 30px 34px 40px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.policymaker-search-result-card__container:hover {
  .policymaker-search-result-card__title {
    text-decoration: underline;
  }

  svg {
    transform: translate(10px);
  }

  .policymaker-search-result-card__sub-title svg {
    transform: none;
  }
}

.policymaker-search-result-card__title {
  font-size: 24px; // TODO: Change to a variable
  font-weight: 500;
  line-height: 2.25rem;
  margin-bottom: 0;
  margin-top: 0;
}

.policymaker-search-result-card__sub-title {
  @include font('lead');
  color: $color-black-50;
  line-height: 2.25rem;
}

.policymaker-search-result-card__title-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.policymaker-search-result-card__department-highlight {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.policymaker-search-result-card__sub-title svg {
  --icon-size: 18px;
  margin-top: 6px;
}
