// @todo UHF-12379 This whole file can probably be deleted after the refactoring is done. https://helsinkisolutionoffice.atlassian.net/browse/UHF-12379
.decisions-search-results {
  background: $color-black-5;
}

.decisions-search-results__container {
  padding-block-start: $spacing-double;

  @include breakpoint($breakpoint-m) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    > div:first-child {
      align-items: flex-end;
      display: inline-flex;
      margin-bottom: $spacing-and-half;
      width: auto;
    }
  }
}

.decisions-search-results__container .hds-pagination-container {
  margin-left: auto;
  margin-right: auto;
}

.decisions-search-results__stats {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacing-and-half;
  width: 100%;
}

.decisions-search-results__stats-count {
  @include font('lead');
}

.decisions-search-results__stats-count strong {
  margin-right: $spacing-quarter;
}

.decisions-search-results__stats-size {
  align-items: center;
  display: flex;
}

.decisions-search-size-select {
  margin-right: $spacing-half;
}

.policymaker-search-results {
  min-height: 250px;
  position: relative;
}

.policymaker-search-results__container {
  padding-block-end: $spacing-double;
  padding-block-start: $spacing-double;

  >div:first-child {
    width: 100%;
  }
}

.policymaker-search-results .hdbt-search--react__results--title {
  @include font('lead');
}
