// @todo UHF-12379 This whole file can probably be deleted after the refactoring is done. https://helsinkisolutionoffice.atlassian.net/browse/UHF-12379

.decisions-search-selected-filters {
  border-top: 1px solid $color-black;
  margin-top: $spacing-double;
  overflow: hidden;
  padding-top: $spacing-double;
}

.decisions-search-selected-filters__container {
  display: flex;
  flex-flow: row wrap;
}

.decisions-search-selected-filters__filter {
  @include font('special.helper_text');
  align-items: center;
  background: transparent;
  border: solid 1px $color-black;
  border-radius: 48px;
  color: $color-black;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-right: 20px;
  padding: 12px 0 12px 20px;

  svg {
    margin-left: var(--spacing-2-xs);
    margin-right: var(--spacing-xs);
  }

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:focus {
    @include focus-outline;
  }
}

.decisions-search-selected-filters__filter-label {
  align-items: center;
  display: flex;

  @include font('lead');
  margin-bottom: 12px;
  margin-right: 20px;
}

.decisions-search-selected-filters__clear-filters {
  @include font('small');
  background: transparent;
  border: none;
  border: 2px solid transparent;
  border-radius: 0;
  color: $color-black;
  cursor: pointer;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 20px;

  svg {
    margin-left: 0;
  }

  &:hover {
    background-color: transparent;
    border-color: $color-black;
    color: $color-black;
  }
}
