// @todo audit this file when searches get an update: https://helsinkisolutionoffice.atlassian.net/browse/UHF-11962

.decisions-search-selected-filters-container {
  background: $color-black-5;
  overflow: visible;
  padding-bottom: 28px;
  padding-top: 28px;
}

.decisions-search-selected-filters-container__container {
  display: flex;
  flex-flow: row wrap;
}

.decisions-search-selected-filters-container__filter {
  @include font('special.helper_text');
  align-items: center;
  background: transparent;
  border: solid 1px $color-black;
  border-radius: 48px;
  color: $color-black;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-right: 20px;
  padding: 12px 0px 12px 20px;

  svg {
    margin-left: var(--spacing-2-xs);
    margin-right: var(--spacing-xs);
  }

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &:focus {
    @include focus-outline;
  }
}

.decisions-search-selected-filters-container__clear-filters {
  @include font('small');
  background: transparent;
  border: none;
  border: 2px solid transparent;
  border-radius: 0;
  color: $color-black;
  cursor: pointer;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 20px;

  svg {
    margin-left: 0;
  }

  &:hover {
    background-color: transparent;
    border-color: $color-black;
    color: $color-black;
  }
}

.decisions-search-selected-filters-container__filter-label {
  @include font('lead');
  align-items: center;
  display: flex;
  margin-bottom: 12px;
  margin-right: 13px;
}
