.breadcrumb__link {
  /* Force breadcrumbs to be in one line */
  white-space: nowrap;
}

.breadcrumb .breadcrumb__link:last-of-type {
  @media screen and (max-width: $breakpoint-m) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

/* Truncate titles, specifically for cases and decisions. */
.breadcrumb__link:nth-child(6),
.breadcrumb__current {
  @include breakpoint($breakpoint-m) {
    display: block;
  }
  overflow-x: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}
