.branding {
  align-items: center;
  display: inline-flex;

  @include breakpoint($container-width-l) {
    margin-right: $spacing-l;
  }
}

.branding__logo {
  display: inline-flex;
  width: 100px;

  svg {
    width: 100%;
  }
}

.branding__slogan {
  @include font-size(18px);
  @include font-weight($bold);
  display: inline-block;
  line-height: 1;
  margin-left: $spacing-m;
}
