.paatokset__decision-tree-container {
  .decision-tree__title {
    padding-bottom: 24px;
    margin-bottom: 22px;
    border-bottom: 2px solid #000;
  }

  .decision-tree__title-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .decistion-tree__item.open div {
    padding-left: 14px;
  }
}