.page-type--imported-article  .news-listing__img {
  position: relative;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .image-placeholder::before {
    content: none;
  }
}
