.policymaker-members {
  h2 {
    margin-bottom: 32px;
  }
}

.policymaker-members__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 54px;

  input:not(input[type=checkbox]),
  select {
    width: 100%;
    height: 56px;
    padding: 16px;
    border: 2px solid $gray;
  }

  select {
    appearance: none;
  }

  option {
    color: $color-black;
  }

  .search-wrapper {
    width: 100%;
    margin-bottom: 36px;
    position: relative;

    .hel-icon {
      position: absolute;
      left: 20px;
      bottom: 16px;
      width: 24px;
      height: 24px;
    }

    input {
      padding-left: 56px !important;
    }
  }

  .form-item {
    width: 100%;
    margin-bottom: 36px;

    @include breakpoint($breakpoint-s) {
      width: 48%;
    }
  }

  .form-item__dropdown {
    position: relative;

    .hel-icon {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
      bottom: 16px;
      pointer-events: none;
    }
  }

  .form-item--checkbox__item {
    list-style: none;

    label {
      display: flex;
    }

    span {
      white-space: nowrap;
      padding-left: 12px;
    }

    input {
      -moz-appearance:none;
      -webkit-appearance:none;
      -o-appearance:none;
      outline: none;
      content: none;

      &::before {
        content: '';
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
        border: 2px solid $gray;
      }

      &:checked::before {
        content: '\2713'
      }
    }
  }
}

.policymaker-members__list {
  border-top: 2px solid  black;

  .member-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 32px 0;
    text-decoration: none;

    &:link:hover {
      .member-name {
        text-decoration: underline;
      }
    }
  }

  .member-info > div {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($breakpoint-s) {
      flex-direction: row;
      align-items: center;
    }
  }

  .member-info {
    display: flex;
    flex-direction: column;

    .deputy-of {
      margin-top: 16px;
    }
  }

  .member-image {
    height: 75px;
    width: 75px;
    min-height: 75px;
    min-width: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 8px;

    @include breakpoint($breakpoint-s) {
      height: 120px;
      width: 120px;
      min-height: 120px;
      min-width: 120px;
    }
  }

  .member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 0;
    margin-top: 0;

    @include breakpoint($breakpoint-s) {
      font-size: 24px;
    }
  }

  .member-role,
  .member-party {
    color: $color-black-light;
    font-size: 16px;
    line-height: 24px;

    @include breakpoint($breakpoint-s) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .member-role {
    &::after {
      content: ',';
      margin-right: 4px;
    }

    @include breakpoint($breakpoint-s) {
      &::after {
        display: none;
      }
    }
  }

  .member-party {
    display: flex;
    align-items: center;

    @include breakpoint($breakpoint-s) {
      &::before {
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: black;
        display: inline-block;
        margin: 0 8px;
      }
    }
  }

  .no-results {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
