$input-height: 56px;
$input-font-size: 18px;

body {
  font-family: var(--font-default);
}

#paatokset_search {
  .wrapper {
    padding: 16px 0;
  }
}

@mixin input {
  border: 2px solid #808080;
  border-radius: 2px;
  height: $input-height;
  font-size: $input-font-size;

  &:focus, &:focus-within, &:hover {
    border-color: #1a1a1a;
  }
}

@mixin focus-outline {
  border-color: #000;
  outline: 2px solid #000;
  outline-offset: 2px;
}

.MultiDropdownList__item {
  height: $input-height;
  font-size: $input-font-size;
}

.DateSelect__collapsible-element label {
  display: block;
}
