{#
  Why is this rendered with broken link when decision
  is missing instead of not rendering at all?
#}
{% if decision_pdf is empty %}
  {% set decision_pdf = '#' %}
  {% set hide_decision_pdf = TRUE %}
{% endif %}
<div class="issue__pdf" {% if hide_decision_pdf %}style="display:none;"{% endif %}>
  <a href="{{ decision_pdf }}" data-hds-component="button" data-hds-variant="secondary" data-hds-icon-start="download">
    {{ 'Download decision (pdf)'|t }}
  </a>
</div>

