<div class="policymaker-list-item policymaker-list-item--{{ type }}">
  {% if item_date %}
  <div class="list-item__date">
    <span>{{ item_date }}</span>
  </div>
  {% endif %}
  <div class="list-item__subject">
    {% if item_link %}
    <a href="{{ item_link }}">
    {% else %}
    <div>
    {% endif %}

      {{ item_title }}

    {% if item_link %}
    {% if item_icon %}
      {% include '@hdbt/misc/icon.twig' with {icon: item_icon} %}
    {% endif %}
    </a>
    {% else %}
    <div>
    {% endif %}
  </div>
</div>
