// All forms in content area
.section--content form {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-m;

  &:not(.user-login-form) {
    margin-bottom: $spacing-m;
  }

  &.user-login-form {
    .form-item {
      max-width: 500px;
    }
  }

  .container {
    border-bottom: 1px solid $gray;
    margin-bottom: $spacing-l;
    padding-bottom: $spacing-s;
  }

  .fieldset-legend {
    @include font-size(18px, 26px);
    font-weight: $font-weight-regular;
    display: inline-block;
    margin-bottom: $spacing-xs;
  }

  fieldset.form-item {
    margin: 0 0 $spacing-l;

    .form-checkboxes,
    .form-radios {
      margin: 0;

      label {
        @include font-size(18px, 23px);
        font-weight: $font-weight-regular;
      }
    }
  }

  details {
    @include font-size(18px, 27px);
    font-weight: $font-weight-regular;
    background: $color-white;
    border-radius: 5px;
    letter-spacing: 0;
    padding: $spacing-s;
    transition-duration: 0.2s;
    transition-property: all;
    width: 100%;

    fieldset {
      border: 0 none;

      .fieldset-wrapper {
        .label {
          @include font-size(17px, 24px);
          font-weight: $font-weight-medium;
        }

        .container-inline {
          display: flex;

          .form-item {
            flex: 1 1 50%;
            padding: 0 $spacing-l $spacing-s 0;
          }
        }
      }
    }
  }

  .form-item {
    @include font-size(16px, 24px);
    display: block;
    margin: 0 0 $spacing-s;
    padding: 0;

    label:not(.visually-hidden) {
      @include font-size(18px, 26px);
      font-weight: $font-weight-regular;
      color: $color-black;
      display: inline-block;
      letter-spacing: 0;
      margin-bottom: $spacing-xs;
      text-align: left;
      width: 100%;
    }

    .description {
      @include font-size(13px, 20px);
    }

    select,
    textarea,
    input[type="text"],
    input[type="tel"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="date"],
    .select2-container--default .select2-selection--single {
      @include font-size(18px, 27px);
      font-weight: $font-weight-regular;
      background: $color-white;
      border: 1px solid $gray-medium;
      border-radius: 5px;
      box-sizing: border-box;
      height: 55px;
      letter-spacing: 0;
      padding: $spacing-s;
      transition-duration: 0.2s;
      transition-property: all;
      width: 100%;

      &::placeholder {
        color: $gray-dark;
      }

      &:focus {
        border-color: transparent;
        box-shadow: none;
        color: $color-black;
        outline: $blue auto 3px;
      }

      &[disabled],
      &[disabled]:active,
      &[disabled]:focus,
      &[disabled]:hover {
        background-color: pink;
      }

      &::-ms-clear {
        display: none;
      }
      &::-ms-expand {
        display: none;
      }
    }

    .form-textarea-wrapper textarea {
      height: 120px;
    }

    input[type="search"] {
      @include font-size(18px, 27px);
      font-weight: $font-weight-regular;
      background: $color-white;
      border: 0 none;
      height: 55px;
      letter-spacing: 0;
      padding: $spacing-s;
      transition-duration: 0.2s;
      transition-property: all;
      width: 100%;
    }

    input[type="submit"] {
      align-self: flex-end;
      height: 2.5em;
    }

    .form-type-textarea + div {
      display: none;
    }

    &.form-type-radio {
      cursor: pointer;
      display: inline;
      margin-bottom: $spacing-l;
      margin-right: $spacing-m;

      input[type="radio"] {
        opacity: 0;

        & + label:after {
          content: none;
        }

        &:checked + label::after {
          content: "";
        }

        &:focus + label::before {
          outline: $cyan auto 3px;
        }
      }

      label {
        cursor: pointer;
        display: inline;
        margin-left: -#{$spacing-s};
        padding-left: 40px;
        position: relative;

        &:before {
          border: 1px solid $gray-medium;
          border-radius: 50%;
          content: "";
          display: inline-block;
          height: 30px;
          left: 0;
          position: absolute;
          top: -5px;
          width: 30px;
        }

        &:after {
          background-color: $cyan;
          border-radius: 50%;
          content: "";
          display: inline-block;
          height: 20px;
          left: 5px;
          position: absolute;
          top: 0;
          width: 20px;
        }
      }
    }

    &.form-type-checkbox {
      margin-bottom: $spacing-s;

      &:last-of-type {
        margin-bottom: $spacing-layout-2-xl;
      }

      input[type="checkbox"] {
        opacity: 0;

        & + label:after {
          content: none;
        }

        &:checked + label::after {
          content: "";
        }

        &:focus + label::before {
          outline: $cyan auto 3px;
        }
      }

      label {
        cursor: pointer;
        display: inline;
        margin-left: -#{$spacing-s};
        padding-left: 40px;
        position: relative;

        &:before {
          border: 1px solid $gray-medium;
          border-radius: 5px;
          content: "";
          display: inline-block;
          height: 30px;
          left: 0;
          position: absolute;
          top: -5px;
          width: 30px;
        }

        &:after {
          background-color: $cyan;
          border-radius: 3px;
          content: "";
          display: inline-block;
          height: 20px;
          left: 5px;
          position: absolute;
          top: 0;
          width: 20px;
        }
      }
    }

    &.form-type-textarea {
      margin-bottom: $spacing-l;
    }
  }

  .form__group {
    margin-bottom: $spacing-l;

    h3 {
      @include font-size(20px);
    }

    &.form__divider {
      border-top: 1px solid $gray-medium;
      padding-top: $spacing-s;
    }
  }
}

/* Quick search form fixes */
.paatokset-search--decisions, .paatokset-search-wrapper {
  h1, label {
    color: #000;
  }
  button + ul li {
    font-size: 16px;
    margin-top: 0;
  }
  button + ul li[class*='Select-module_highlighted'] {
    color: #fff!important;
    background-color: #000!important;

    span {
      border-color: #fff!important;
      box-shadow: none!important;
    }
  }
  button > span[class*='Select-module_buttonLabel'] {
    color: rgb(102, 102, 102);
  }
  .DateSelect__predefined-ranges-container + button {
    border-top-color: #ccc;
  }
  .DateSelect__predefined-ranges-container + button:hover {
    background-color: #000;
    border-color: #000;
  }

  // Autocomplete styles.
  .search-autocomplete {
    border: 2px solid #000;
    border-top-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-top-color: #ccc;
    border-top-width: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .search-autocomplete__wrapper {
    position: relative;
    z-index: 10;
  }
  .search-autocomplete__item {
    font-size: 16px;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }
}
