// Hero section for search form
.hero--paatokset-search-bar {
  margin-top: -40px;
  margin-bottom: $spacing-double;

  @include breakpoint($breakpoint-xl) {
    margin-bottom: $spacing-quadruple;
  }

  .hero__text-content {
    padding-top: $spacing-triple;
    padding-bottom: $spacing-triple;

    @include breakpoint($breakpoint-xl) {
      max-width: 894px;
    }
  }

  .container.hero__container {
    @media (max-width: $breakpoint-s) {
      max-width: $container-width-xs;
    }
  }
}

// Hero section search form
.paatokset__search-form {
  .hds-text-input__label {
    font-weight: bold;
  }

  .hds-text-input__input-wrapper {
    display: block;

    @include breakpoint($breakpoint-xl) {
      display: flex;
      align-items: flex-end;
    }
  }

  .hds-text-input__input {
    @include breakpoint($breakpoint-xl) {
      width: 894px;
    }
  }

  input[type="submit"] {
    width: 100%;
    margin-bottom: $spacing;
    height: var(--input-height);
    background-color: #000;
    background-image: none;
    text-shadow: none;
    --focus-outline-color: var(--color-coat-of-arms);

    &:hover {
      background-color: $color-white;
      border-color: $color-black;
      color: $color-black;
    }

    @include breakpoint($breakpoint-xl) {
      max-width: 258px;
      margin-left: 24px;
    }
  }

  .advanced-search-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include breakpoint($breakpoint-xl) {
      max-width: 894px
    };
  }

  .advanced-fields-container {
    @include breakpoint($breakpoint-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 894px;
    }

    label {
      display: none;

      @include breakpoint($breakpoint-xl) {
        display: inline;
        font-weight: bold;
      }
    }

    select {
      width: 100%;

      @include breakpoint($breakpoint-xl) {
        max-width: 282px;
      }
    }
  }

  .advanced-search__tags-container {
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    padding-top: 10px;
    
    > * {
      margin-right: 15px;
    }

    .tags-container__title {
      display: none;

      @include breakpoint($breakpoint-xl) {
        display: inline;
        font-weight: 500;
      }
    }
  }

  .advanced-search__search-watcher {
    width: 100%;
  }
}
