<div class="hero-wrapper{{ modifier_class }}">
  {% embed '@hdbt/component/hero.twig' with {
    design: 'with-search-form',
    title: hero_title,
    description: hero_description,
    form: form,
  } %}
  {% endembed %}
</div>
