//
// @file
//
// This file includes everything related to the basic typography
//

html {
// ########## General ########## //
  h1, .page-title h1 {
    margin-bottom: $spacing;

    @include font-size($fontsize-heading-xl);
    font-weight: $font-weight-regular;

    @include breakpoint($breakpoint-m) {
      margin-bottom: $spacing-and-half;
    }

    @include breakpoint($breakpoint-l) {
      @include font-size(72px, $lineheight-s);

      margin-bottom: 38px;
    }
  }

  blockquote {
    @include font-size(24px, 36px);
    font-weight: $font-weight-regular;
    border-left: 5px solid $gray;
    color: $gray-dark;
    letter-spacing: 0;
    margin: $spacing-2-xl;
    padding-left: 25px;

    p {
      @include font-size(24px, 36px);
      font-weight: $font-weight-regular;
    }
  }
}

body {
  font-size: $font-size-body;
}
