{#
/**
 *
 * @file
 * Template for a single attachment
 */
#}

<div class="policymaker-list-item policymaker-list-item--agenda-item" role="region" aria-label="{{ 'Agenda item'|t }}">
  {% if agenda_item.link %}
    <a href="{{ agenda_item.link }}">
  {% endif %}
    <span class="agenda-item__index-number">{{ agenda_item.index }}</span>
    <span class="agenda-item__subject">{{ agenda_item.subject }}</span>
    {% include '@hdbt/misc/icon.twig' with {icon: 'arrow-right'} %}
  {% if agenda_item.link %}
    </a>
  {% endif %}
</div>
